/*
 * @Author: junjie.lean 
 * @Date: 2021-01-25 09:40:49 
 * @Last Modified by: junjie.lean
 * @Last Modified time: 2021-02-24 14:42:37
 */

.lean-dromrule-container {
  padding: 10px;
}

.lean-dormrule-header {
  display: flex;
  justify-content: space-between;
}

.lean-dormrule-manageContent {
  margin-top: 30px;
  margin-bottom: 30px;
}

.lean-dormrule-manageSet {
  border: 1px solid #eaeff1;
  height: 160px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
  > div {
    > .ant-switch-checked {
      background-color: #3bc195;
    }
  }
}

.lean-dormrule-exceptiveList-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  // justify-content: center;
}

.lean-dormrule-exceptiveList {
  .lean-dormrule-exceptiveList-addPlan {
    display: inline-flex;
    cursor: pointer;
    width: 215px;
    height: 215px;
    border: 1px solid #e2e8eb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    fill: #969da6;
    transition: all 0.3s linear;
    color: rgb(124, 122, 122);
    &:hover {
      // fill: #969da6;
      fill: #0968e4;
      color: #0968e4;
      border: 1px solid #0968e4;
    }
  }

  .lean-dormrule-exceptiveList-planItem {
    // display: inline-flex;
    margin-right: 16px;
    margin-bottom: 16px;
    border: 1px solid #e2e8eb;
    height: 215px;
    width: calc(50% - 16px);
    position: relative;

    &:hover {
      > .lean-dormrule-exceptiveList-deletebtn {
        display: inline-block;
      }
    }
    .lean-dormrule-exceptiveList-deletebtn {
      color: #0968e4;
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 12px;
      display: none;
      cursor: pointer;
    }
    .lean-dormrule-exceptiveList-planItem-flags {
      position: relative;

      > span {
        position: absolute;
        left: 1px;
        top: -10px;
        font-size: 15px;
        color: #fff;
        transform: rotate(-45deg);
        font-weight: bold;
      }
    }

    .lean-dormrule-exceptiveList-planItem-times {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      > div {
        width: 50%;
      }
    }
  }
}

.lean-dormrule-exceptiveList-planState-0 {
  background-color: #ffe6e5;
  color: #f26d6d;
  margin: 0 15px;
  position: relative;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 16px;
    border-radius: 50%;
    top: 0;
    background-color: #ffe6e5;
    transform: translateX(-50%);
    z-index: -1;
  }
}
.lean-dormrule-exceptiveList-planState-1 {
  background-color: #3bc195;
  color: #fff;
  margin: 0 15px;
  position: relative;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 16px;
    border-radius: 50%;
    top: 0;
    background-color: #3bc195;
    transform: translateX(-50%);
    z-index: -1;
  }
}
.lean-dormrule-exceptiveList-planState-2 {
  background-color: #d5d5d5;
  color: #988c8c;
  margin: 0 15px;
  position: relative;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 16px;
    border-radius: 50%;
    top: 0;
    background-color: #d5d5d5;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.lean-dromrule-verticalLine-icon {
  padding-left: 10px;
  display: inline-flex;
  height: 15px;
  font-size: 15px;
  align-items: center;
  &::before {
    content: "";
    position: relative;
    display: inline-block;
    background-color: #0968e4;
    width: 3px;
    height: 100%;
    margin-right: 10px;
  }
}

.lean-dromrule-splitLine-icon {
  border: 1px solid #e3e4e4;
  border-bottom: none;
}

.lean-dromrule-checkbox-warp {
  margin-top: 10px;
  margin-bottom: 10px;
  > div.ant-checkbox-group {
    display: inline-flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: flex-start;
    // align-items: center;
    > label.ant-checkbox-group-item {
      display: inline-block;
      margin-right: 8px;
      width: 30%;
      margin-top: 10px;
    }
  }
}
