
/* 分页 */

.mj-pp-content {
    padding: 20px;
    padding-top: 0;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.mj-pp-content .ant-pagination {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.mj-pp-text {
    margin: 0 10px;
}

.mj-pp-content .ant-pagination-prev,
.mj-pp-content .ant-pagination-next,
.mj-pp-content .ant-pagination-jump-prev,
.mj-pp-content .ant-pagination-jump-next {
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.mj-pp-content .ant-pagination-item-active {
    color: #fff;
    background-color: #3687d9;
}

.mj-pp-content .ant-pagination-item-active a {
    color: #fff;
}

.mj-pp-content .ant-pagination-item-active:focus a,
.mj-pp-content .ant-pagination-item-active:hover a {
    color: #fff;
}

.mj-pp-content .anticon-down {
    color: #cccccc;
}

.mj-rm-tableContent .ant-select {
    width: 60px;
    vertical-align: bottom;
}