.yhc-roomManageSel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.yhc-roomManageSelCss{
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid #f8fafa;
}
.yhc-order svg:nth-of-type(1){
    margin-bottom: -6px;
}
.yhc-order .anticon svg{
    height: 17px;
    width: 17px;
}
.yhc-orderCss{
    color:  #3687D9;
}
.yhc-block{
    width: 375px;
    border:1px solid #dddddd;
    height: 220px;
    margin-bottom: 20px;
}
.yhc-blockSet{
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}
.yhc-blockSet>div{
    margin-right: 22px;
}
.yhc-block>div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 50px;
    background-color: #e9f0f7;
}
.yhc-block>div:nth-of-type(2){
    width: 100%;
}
.yhc-block>div:nth-of-type(2)>div:nth-of-type(2){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yhc-block>div:nth-of-type(2)>div:nth-of-type(2)>div:nth-of-type(1){
    margin-right: 40px;
}
.yhc-iconSet{
    margin-right: 10px;
}
.yhc-draw .ant-drawer-content-wrapper{
    width: 50%!important;
}

.yhc-group{
    width: 100%;
    border:1px solid #DDDCDC;
    // height: min($numbers: 200px);
    margin-top: 20px;
}
.yhc-groupItem-item{
    // height: min($numbers: 140px);
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px 20px 20px;
    align-content: space-between;
}
.yhc-groupSelect{
    background-color: #3687D9;
}
.yhc-transfer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.yhc-transfer>Button{
    margin-right: 10px;
}
.yhc-getResult{
    height: 35px;
    display: flex;
    min-width: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px 15px;
    border: 1px dashed silver;
}
.yhc-groupItemOnly-item{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.yhc-colorSet{
    min-width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3687D9;
    color: white;
    cursor: pointer;
}
.yhc-groupItem{
    min-width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dfe3e6;
    cursor: pointer;
}
.yhc-colorSets{
    min-width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3687D9;
    border: 1px dashed #dddddd;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
}
.yhc-group:nth-of-type(3){
    margin-top: 30px;
}
.yhc-groupItems{
    position: relative;
    min-width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    align-items: center;
    background-color: white;
    border: 1px dashed #dddddd;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
}
.yhc-buttonDel{
    width: 100%;
    height: 100%;
}
.yhc-show{
    display: block;
}
.yhc-hidden{
    display: none;
}
.yhc-svgFlex{
    display: flex;
    align-items: center;
}
.yhc-bed{
    background-color: rgba($color: white, $alpha: 0.4);
    border-radius: 10px;
    width: 32px;
    font-size: 12px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yhc-free{
    color: rgb(148, 147, 147);
}
.yhc-modal .ant-modal{
    margin: 100px auto !important;
}
.yhc-modalFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.yhc-blockSet .ant-empty{
    margin: auto auto;
    width: 100%;
}
.yhc-cascader .ant-cascader-menu:only-child{
    height: 100%;
}