.ll-resultCensus {
  padding: 20px;

  >.ll-rc-first {
    padding-top: 10px;
    ;
    display: flex;
    justify-content: space-between;

    >div {
      padding: 20px;
      flex: 0.493;
      background-color: white;
      //   height: 200px;
    }

    .ll-first-left {
      display: flex;
      flex-wrap: wrap;

      >div {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  >.ll-rc-second {
    padding: 20px;
    margin: 20px 0 10px 0;
    // height: 400px;
    background-color: white;
  }

  >.ll-rc-third {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .ll-third-left {
      >div {
        text-align: center;
        margin-top: 60px;
      }
    }

    >div {
      padding: 20px;
      //   height: 200px;
      background-color: white;
    }

    >.ll-third-left {
      flex: 0.2;
    }

    >.ll-third-middle {
      flex: 0.388;
    }

    >.ll-third-right {
      flex: 0.388;
    }
  }

  >.ll-rc-fourth {
    margin: 20px 0 10px 0;
    background-color: white;
    padding: 20px;
  }

}

.ll-imgTitle {
  font-size: 18px;
  font-weight: bold;
  color: black;
  width: 100%;

}

.ll-squareItem {
  .ll-numStyle {
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
  }
}