.page {
    width: 100%;
    background-color: #f0f0f0;
    .albumdetail {
        width: 1205px;
        margin: 0 auto;
        background-color: #fff;
        min-height: 100vh;
        
        &-container {
            padding: 24px 0;
            padding-top: 0;
        }
    }
}
:global {
    .ant-page-header {
        padding-bottom: 0 !important;
        padding-top: 24px;
    }
    .ant-image-img {
        object-fit: cover;
    }
    .ant-image-preview-wrap {
        background-color: rgba(0, 0, 0, 0.75) !important;
    }
}