.coupon-container{
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    margin: auto;
    .coupon-wu{
        width: 100%;
        background: white;
        border-radius: 16px;
        margin-top: 16px;
        h4{
            font-size: 14px !important;
            color: #313233;
        }
    }
}





















