@import '../../css/common.less';
.record_record-content-search__2l4Q- {
    width: 100% !important;
}
    .record {
        width:1060px;
        margin: 0 auto;
        min-height: calc(~"100vh - 80px");
        &-BusinessCard {
            float: left;
            
            position: sticky;
            top: 20px;
        }
        &-content {
            width: 800px;
            padding: 20px;
            min-height: 1000px;
            margin-left: 4px;
            margin-right: 4px;
            float: left;
            background-color: #fff;
            &-search {
                display: block;
                width: 80%;
                margin: 15px auto;
            }
            &-list-content {
                max-height: 2000px;
                transition: all 0.3s;
            }
            &-tag {
                .tagItem {
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
    }
