.mzc-video{
  position: relative;
}
.mzc-video .mzc-scenariosList{
  position:absolute;
  left: 0;
  top: 0;
}

.mzc-video .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  background-color: transparent;
}
.mzc-video .ant-select-selection-item{
  color: #fff;
}
.mzc-video .ant-select-arrow svg{
  fill: #fff;
}
.mzc-video .mzc-loading i{
  background-color: #30bf99;
}
.mzc-video .mzc-loadingTips{
  color: #30bf99;
}
.mzc-video .mzc-loading{
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
