.gwj-checkOfRoom-header{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 20px;
}
.gwj-checkOfRoom-header>svg{
    font-size: 24px;
    margin-right: 14px;
}
.gwj-checkOfRoom-video{
    height: 590px;
}
.gwj-video-header{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.gwj-video-header>div,.gwj-video>div{
    float: left;
}
.gwj-video-header>div:first-child{
    width: 15.7%;
    background-color: #212121;

}
.gwj-video-header>div:last-child{
    width: 84.3%;
    background-color: #1a1a1a;
    color: #5e5e5e;
}
.gwj-class-content{
    width: 100%;
    margin-bottom: 0;
    padding-left: 0; 
    height: 50px;
    line-height: 50px;
}
.gwj-class-content>li{
    display: inline-block;
    width: calc(20% - 5px);
    text-align: left;
    padding-left: 22px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
}
.gwj-class-content>li>svg{
    font-size: 18px;
    line-height: 50px;
    margin-top: 0;
}
.gwj-class-content>li>span{
    padding-left: 10px; 
    font-size: 14px;
    height: 50px;
}
.gwj-video{
    height: 540px;
    color: #fff;
}
.gwj-video>div:first-child{
    width: 15.7%;
    background-color: #262626;
    height: inherit;
    padding-top: 20px;
}