.gwj-comments-box {
    background-color: #eff3f5;
    margin: 8px 0;
}

.gwj-comments {
    min-height: 160px;
    background-color: #fff;
    padding: 8px 20px;
}

.gwj-comments>div {
    display: inline-block;
}

.gwj-comments>div:first-child {
    width: 10%;
    height: 100%;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
    padding-top: 35px;
}

.gwj-comments-content {
    width: 88%;
}

.gwj-comment-pic {
    display: inline-block;
    margin-right: 10px;
}

.gwj-comments-content>div:first-child {
    width: 100%;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-word; */
    margin-bottom: 8px;
}

.gwj-comments-ul {
    margin-bottom: 0;
}

.gwj-comments-ul>li {
    display: inline-block;
    width: 100px;
    height: 70px;
    border: 1px solid red;
    margin-right: 10px;
    margin-bottom: 8px;
}

.gwj-comments-content>div:last-child {
    margin-top: 12px;
}

.gwj-comments-content>div:last-child>span>svg {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    fill: #bcbcbc;
}

.gwj-comments-content>div:last-child>span:first-child {
    margin-right: 103px;
}