/*
 * @Author: JC.Liu 
 * @Date: 2019-05-05 15:19:57 
 * @Last Modified by: MinJ
 * @Last Modified time: 2020-11-19 13:22:29
 */
.gwj-tabs-box .ant-tabs-nav-container,
.gwj-tabs-box .ant-tabs-nav-wrap,
.gwj-tabs-box .ant-tabs-nav-scroll,
.gwj-tabs-box .ant-tabs-nav {
    height: 80px;
}

.gwj-tabs-box .ant-tabs-nav>div:first-child {
    line-height: 26px;
    text-align: center;
    margin-top: 15px;
}

.gwj-tabs-box .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    display: none !important;
}

.gwj-tabs-box .ant-tabs-tab.ant-tabs-tab-active {
    color: #fff;
    background-color: #26a5ff;
    border-radius: 5px 5px;
}

.gwj-tabs-box .ant-tabs-bar {
    margin-bottom: 0;
}

.gwj-tabs-pagination {
    margin-top: 10px;
    position: relative;
    
}

.gwj-tabs-pagination>.ant-pagination {
    text-align: right;
}

.gwj-tabs-pagination>.ant-pagination>li:first-child {
    position: absolute;
    left: 0;
    top: 0;
}

.gwj-tabs-pagination .ant-pagination-prev,
.gwj-tabs-pagination .ant-pagination-next {
    width: 80px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}