/*
 * @Author: xiangting 
 * @Date: 2019-03-01 11:08:38 
 * @Last Modified by: MinJ
 * @Last Modified time: 2020-11-18 10:15:39
 * 教学反思
 */

$padding:20px;
$border:20px #eff3f5 solid;
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

//   搜索条件
.xt-search {
    border-bottom: $border;
    padding: 20px 10px;
    &>div {
        display: flex;
        justify-content: space-around;
        align-items: center
    }
    &>div:nth-child(1) {
        float: left;
        width: 220px
    }
    &>div:nth-child(2) {
        float: right;
        width: 700px;
        input {
            width: 200px
        }
    }
    &>div:nth-child(1)>div {
        cursor: pointer;
        padding: 10px 20px;
    }
    &-type {
        background: #31a9ff;
        color: #fff;
        border-radius: 5px;
    }
}

//  授课秩序
.xt-teachingOrder {
    width: 50%;
    padding: $padding;
    border-top: $border;
    float: left;
    height: 380px;
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 32px;
            margin-left: 10px
        }
    }
    &-echarts>div {
        top: -20px!important
    }
}

//  教学质量
.xt-teachingQuality {
    float: left;
    width: 50%;
    border-left: $border;
    padding: $padding;
    border-top: $border;
    height: 380px;
    &-score {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 20%;
        text-align: center;
        span {
            font-size: 32px
        }
        &>div:last-child {
            span {
                color: #3dcc85
            }
        }
    }
    &-echarts>div:nth-child(1) {
        top: -50px!important
    }
}

//  任务课表
.xt-timetable {
    float: left;
    width: 100%;
    border-top: $border;
    padding: $padding;
    &-checked {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            margin-right: 20px
        }
        margin: 30px 0 20px
    }
    &-legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 280px;
        span {
            display: inline-block;
            width: 20px;
            height: 15px;
            margin-right: 5px;
            position: relative;
            top: 3px
        }
        div {
            display: inline-block;
        }
        &>div:nth-child(1)>span {
            background: #ff775c
        }
        &>div:nth-child(2)>span {
            background: #3dcc85
        }
        &>div:nth-child(3)>span {
            background: #708afa
        }
    }
    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
        padding: 0 !important;
        height: 60px;
        &:nth-child(1) {
            background: #fafafa;
            text-align: center !important;
        }
        &>div {
            height: 100%;
        }
        .lxx-m-tb>p {
            margin: 0 auto;
            padding: 5px 0;
            max-width: 9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &-table-hover {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        top: calc(100% + 15px);
        border-radius: 3px;
        color: #fff;
        text-align: left;
        padding: 10px;
        z-index: 10
    }
    &-table-top {
        height: 0;
        width: 0;
        border: 10px transparent solid;
        border-top: 0;
        position: absolute;
        top: -10px;
        left: calc(50% - 5px);
    }
    &-more {
        cursor: pointer;
        display: inline-block;
        padding: 0 5px;
        font-size: 20px
    }
    &-select {
        position: absolute;
        border: 1px solid #31a9ff;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        top: calc(100% + 15px);
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        background: #fff
    }
}