.kyl-xdj-container {
  >.ant-select{
    margin: 0 20px 20px 0;
  }
  .kyl-jsdt-jcInfo{
    height: 104px;
    background: #eff3f5;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-around
    text-align: center;
    p{
      margin-bottom: 0;
    }
    .kyl-jsdt-zks{
      width: 15%;
      margin: 24px 0;
      border-right: 1px solid #e1e1e1;
      .kyl-jsdt-V{
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .kyl-jsdt-K{
        font-size: 18px;
      }
    }
    .kyl-jsdt-jcInfo-jxb{
      width: 15%;
      margin: 24px 0;
      border-right: 1px solid #e1e1e1;
      .kyl-jsdt-jcxx-el{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .kyl-jsdt-jxbV{
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .kyl-jsdt-jxbK{
        font-size: 18px;
      }
    }
    .kyl-jsdt-kcjd{
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
