.kyl-jy-container{
  height:170px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #f5f6f7;
  border: 1px solid #f5f6f7;
  display: flex;
  flex-wrap: nowrap;
}
.kyl-jy-score{
  border-right: 1px solid #e1e1e1;
  margin: 12px 0px 12px 67px;
  width: 18%;
  min-width: 170px;
}
.kyl-jy-score >p{
  margin-bottom: 0px;
}
.kyl-jy-hadFinish{
  display: flex;
  flex-wrap: nowrap;
  width: 30%;
}
.kyl-jy-hfT{
  padding: 30px 30px 30px 50px;
}
.kyl-jy-hfT .ant-progress-text{
  color: #00cc88;
}
.kyl-jy-hfw{
  width: 170px;
  margin: 12px 0px 12px 0px;
  padding: 50px 15px 38px 0;
  border-right: 1px solid #e1e1e1;
}
.kyl-jy-beScore{
  width: 22%;
  margin: 20px 2%;
  position: relative;
}
.kyl-jy-beScore p{
  margin-bottom: 5px
}
.kyl-jy-progress{
  margin-top: 43px;
}
.kyl-jy-progress .ant-progress-bg{
  background: linear-gradient(#02bda8,#4acd7f) !important;
}
.kyl-jy-beScoreW{
  padding: 5px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.kyl-jy-svg{
  position: absolute;
}