.kyl-jsdt-zysyContainer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  // margin-right: 20px;
  >div{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #f5f6f7;
    border: 1px solid #f5f6f7;
    height: 250px;
  }
  .kyl-jsdt-jyqk{
    padding: 20px 20px;
    >div:first-child{
      font-size: 17px;
      font-weight: 600;
      color: #6a6971;
    }
    >div:last-child{
      padding: 20px 0;
    }
    .kyl-jsdt-tj{
      height: 150px;
      background: #f8fafb;
      box-shadow: 0 0 2px #e4e4e4;
      border-radius: 3px;
      text-align: center;
      padding: 50px 0;
      >div{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
    .kyl-jsdt-jyqkcontent{
      display: flex;
      flex-wrap: nowrap;
      .kyl-jdzysy-jyqkRight{
        >div{
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
    }
    .kyl-jsdt-square{
      width: 22px;
      height: 11px;
      display: inline-block;
    }
    .jsdt-hadFin{
      background: #64d9b2
    }
    .jsdt-aftStart{
      background: #eac68c
    }
    .jsdt-noFin{
      background: #f18888
    }
    .kyl-jsdt-jhks{
      font-size: 15px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .kyl-jsdt-kjqk{
    padding: 20px 20px;
    min-width: 76px;
    >div:first-child{
      font-size: 17px;
      font-weight: 600;
      color: #6a6971;
    }
  }
  .kyl-jsdt-kjqkRate{
    width: 16%;
    text-align: center;
    padding-top: 100px;
    
    >div:first-child{
      font-size: 18px;
      font-weight: 600;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    >div:last-child{
      font-size: 14px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
}