/*
 * @Author: MinJ
 * @Date: 2019-07-23 09:24:54
 * @Last Modified by: MinJ
 * @Last Modified time: 2019-08-27 10:28:24
 */

/* 清除浮动 */
.mj-clearfix:after{
  content:"";
  display:block;
  visibility:hidden;
  clear:both;
  height:0;
}
/* 溢出省略*/
.mj-ellip{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 暂无数据 */
.mj-ap-noneData{
  width: 100%;
  height: 100%;
  text-align: center;
}
.mj-ap-noneData img{
  width: 100px;
}
.mj-ap-noneDataTab4{
  background-color: #fcfdfd;
  border-top: 1px solid #ebebeb;
}
.mj-ap-noneDataTab4 .icon{
  margin-top: 30px;
}

/* tab */
.mj-apt-tabCon .ant-tabs{
  width: 100%;
}
.mj-apt-tabCon .ant-tabs-nav .ant-tabs-tab{
  margin: 20px 70px 20px 0;
  padding: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  text-align: center;
  color: #595a5a;
}
.mj-apt-tabCon .ant-tabs-nav .ant-tabs-tab-active{
  color: #fff;
  background-color: #26a5ff;
}
.mj-apt-tabCon .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active:hover{
  color: #fff;
}
.mj-apt-tabCon .ant-tabs-ink-bar{
  height: 0;
}
.mj-apt-tabCon .ant-tabs-bar{
  border: 0;
}

/* tab1 */
.mj-tab1-Con,
.mj-tab2-Con{
  padding: 20px 20px 0 20px;
  width: 100%;
  background-color: #fff;
}
.mj-tab1-Con{
  height: 370px;
}
.mj-tab1-stCon,
.mj-tab1-teaCon{
  float: left;
  width: 20%;
  height: 100%;
}
.mj-tab1-title span:nth-child(1),
.mj-tab1-point{
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #e1e0e0
}
.mj-tab1-title span:nth-child(2),
.mj-tab1-border p{
  display: inline-block;
  padding-left: 6px;
  color: #4d4d4d;
  font-size: 18px;
}
.mj-tab1-result{
  margin-top: 10px;
}
.mj-tab1-result span:nth-child(1){
  padding-left: 20px;
  color: #959595;
}
.mj-tab1-result span:nth-child(2){
  color: #4d4d4d;
}

.mj-tab1-designCon{
  float: left;
  width: 40%;
  height: 100%;
}
.mj-tab1-border{
  display: inline-block;
  height: 100%;
  width: calc(100% - 2px);
  border-left: 1px solid #eff3f5;
  vertical-align: top;
}
.mj-tab1-st{
  position: relative;
  margin: 30px 5%;
}
.mj-tab1-st img{
  width: 184px;
  height: 194px;
}
.mj-tab1-st div{
  position: relative;
  left: 24px;
  top: 173px;
  /* top: 30px; */
  width: 6px; 
  height: 6px;
  border-radius: 50%;
  background-color: #3498db;
}

/* tab2 */
.mj-tab2-Con{
  height: 440px;
}
.mj-tab2-trendCon,
.mj-tab2-orderCon{
  float: left;
  height: 100%;
}
.mj-tab2-trendCon{
  width: 60%;
}
.mj-tab2-orderCon{
  width: 40%;
}
.mj-tab2-trendCon p,
.mj-tab2-orderCon p{
  font-size: 16px;
}
.mj-tab2-listCon,
.mj-tab2-scroll{
  width: 100%;
}
.mj-tab2-scroll{
  height: 290px;
  overflow-y: auto;
}
.mj-tab2-listCon div,
.mj-tab2-scroll div{
  display: inline-block;
  width: 16.66%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  vertical-align: top;
}
.mj-tab2-listCon ul{
  margin-bottom: 0;
}
.mj-tab2-listCon li:nth-child(2n+1),
.mj-tab2-scroll li:nth-child(2n){
  background-color: #f8fafb;
}
.mj-tab2-listCon li:nth-child(2n),
.mj-tab2-scroll li:nth-child(2n+1){
  background-color: #fff;
}
.mj-tab2-listCon li:nth-child(1){
  background-color: #f2f4f5;
}
.mj-tab2-scroll .mj-tab2-border span{
  display: inline-block;
  margin-top: 16px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
  color: #fff;
  background-color: #00cc88;
}
.mj-tab2-scroll .mj-tab2-border{
  line-height: unset;
}

/* tab3 */
.mj-tab3-attentionCon,
.mj-tab3-listenCon,
.mj-tab3-emojiCon{
  float: left;
  height: 100%;
}
.mj-tab3-attentionCon p,
.mj-tab3-listenCon p,
.mj-tab3-emojiCon p{
  font-size: 16px;
}
.mj-tab3-attentionCon{
  width: 35%;
}
.mj-tab3-listenCon{
  width: 40%;
  padding-right: 2%;
}
.mj-tab3-emojiCon{
  width: 25%;
}

/* tab4 */
.mj-tab4-Con{
  padding: 20px 20px 0 20px;
  width: 100%;
  min-height: 440px;
  background-color: #fff;
}
.mj-tab4-allowCon{
  float: left;
  width: 50%;
}
.mj-tab4-allowCon p{
  margin-bottom: 50px;
  font-size: 16px;
}
.mj-tab4-allowCon ul span{
  display: inline-block;
  width: 13%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: 1px solid #ebebeb;
  border-left: 0;
  border-top: 0;
  vertical-align: top;
}
.mj-tab4-allowCon li:nth-child(2n+1){
  background-color: #fdfdfe;
}
.mj-tab4-allowCon li span:last-child{
  border-right: 0;
}
.mj-tab4-allowCon li:first-child span{
  border-top: 1px solid #ebebeb;
}