.cjy-rct-tableHead{
  background: #f5f8fa;
  border: 1px solid #c2c8cc;
  padding: 0;
  display: flex;
  
}
.cjy-rct-tableHead::after{
  content: '';
  display: table;
  clear: both;
}
.cjy-rct-headSpan{
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  width: calc((100% - 105px) / 7);
}

.cjy-rct-headSpan1{
  position: relative;
  width: 105px;
}
.mj-tmsc-title{
  width: 135px;
  box-sizing: border-box;
}
.mj-tmsc-titleSpan{
  width: calc((100% - 135.1px) / 7);
}

.cjy-rct-headSpan1::before{
  content: '';
  display: inline-block;
  width: 116px;
  height: 1px;
  background: #c2c8cc;
  position: absolute;
  left: 0;
  top: 0;
  transform:rotate(25deg);
  -ms-transform:rotate(25deg); 	/* IE 9 */
  -moz-transform:rotate(25deg); 	/* Firefox */
  -webkit-transform:rotate(25deg); /* Safari 和 Chrome */
  -o-transform:rotate(25deg); 	/* Opera */
  transform-origin:top left;
  -ms-transform-origin:top left;
  -moz-transform-origin:top left;
  -webkit-transform-origin:top left;
  -o-transform-origin:top left;
}

.cjy-rct-rightTop,
.cjy-rct-leftBtm{
  display: block;
  height: 25px;
  line-height: 25px;
}

.cjy-rct-rightTop{
  text-align: right;
}

.cjy-rct-leftBtm{
  padding-left: 6px;
  text-align: left;
}

.cjy-rct-tableBox .ant-table-thead > tr > th,
.cjy-rct-tableBox .ant-table-tbody > tr > td{
  text-align: center;
  font-size: 14px;
}

.cjy-rct-tableBox .ant-table-bordered .ant-table-thead > tr > th,
.cjy-rct-tableBox .ant-table-bordered .ant-table-tbody > tr > td{
  border-color: #c2c8cc;
}

.cjy-rct-classTable::after,
.cjy-rct-table::after{
  content: '';
  display: table;
  clear: both;
}

.cjy-rct-classNum{
  width: 105px;
  float: left;
}

.cjy-rct-classTable{
  width: calc(100% - 105px);
  float: left;
}

.cjy-rct-table{
  border-left: 1px solid #c2c8cc;
  border-right: 1px solid #c2c8cc;
  text-align: center;
}