.cjy-rc-reClass{
  font-size: 16px;
  overflow: hidden;
}

.cjy-rc-nameLine{
  margin-top: 20px;
}

.cjy-rc-span{
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-bottom: 20px;
}

.cjy-rc-nameBox{
  display: inline-block;
  width: 590px;
  vertical-align: top;
}

.cjy-rc-nameBox .cjy-rc-name{
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 30px;
  position: relative;
}

.cjy-rc-bubble{
  color: #ff584f;
  font-size: 24px;
  top: -24px;
  position: absolute;
}

.cjy-rc-bubble::before{
  content: '评';
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  top: 5px;
  left: 5px;
}

.cjy-rc-table{
  /* width: 750px; */
  width: 100%;
}
.cjy-rc-table tr{
  font-size: 14px;
}


.mj-svg{
  position: absolute;
  top: -20px;
  /* right: 0; */
}
.mj-svgText{
  position: absolute;
  color: #fff;
  left: 6px;
  top: 1px;
  font-size: 14px;
}
.mj-svg .icon{
  color: #ff584f;
  width: 26px;
  height: 26px;
}