.cjy-rd-tableBox{
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 20px;
  margin-top: 10px;
}

.cjy-rd-headLine{
  height: 60px;
  /* border-bottom: 1px solid #d9d9d9; */
}

.cjy-rd-tableBox th,
.cjy-rd-tableBox td{
  font-size: 14px !important;
}

.cjy-rd-aBox{
  color: #a6a6a6;
  margin-right: 10px;
  font-size: 14px;
}

.cjy-rd-aBox .iconfont{
  font-size: 20px; 
   width: 20px;
  height: 20px;
  fill: #bcbcbc;
}

.cjy-rd-numInfo{
  display: inline-block;
  font-size: 14px;
  float: left;
  margin-top: -40px;
}

.cjy-rd-aBox .cjy-rd-lookup{
  font-size: 26px;
  vertical-align: sub;
    width: 20px;
  height: 20px;
  fill: #bcbcbc;
}



/* 表格及分页样式 */
.cjy-rd-tableBox .ant-table{
  font-size: 14px;
  color:#4d4d4d;
}
.cjy-rd-tableBox .ant-table table{
  text-align: center;
}
.cjy-rd-tableBox .ant-table-thead > tr > th,
.cjy-rd-tableBox .ant-table-tbody > tr > td{
  text-align: center;
  padding:11px 8px;
  border-bottom-color:#D9D9D9;
}
.cjy-rd-tableBox .ant-table-thead > tr > th:nth-child(1),
.cjy-rd-tableBox .ant-table-tbody > tr > td:nth-child(1){
  text-align: left;
  padding-left: 20px;
}
.cjy-rd-tableBox .ant-table-thead > tr:nth-child(2n),
.cjy-rd-tableBox .ant-table-tbody > tr:nth-child(2n){
  background-color: #FAFAFA;
}
.cjy-rd-tableBox .ant-table-thead>tr>th{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background-color: #FAFAFA;
}


.cjy-rd-tableBox .ant-pagination {
    font-size: 14px;
    border: 1px solid #D9D9D9;
    padding: 0 15px;
    margin: 9px 0 21px 0;
    border-radius: 4px;
}
.cjy-rd-tableBox .ant-pagination-item {
    font-size: 14px;
    margin-right: 0px;
    border: 0px;
    height: 36px;
    min-width: 36px;
    line-height: 36px;
    border-radius: 0px;
}

.cjy-rd-tableBox .ant-spin-nested-loading > div > .ant-spin{
  left:0;
}