
.BusinessCard {
    width: 246px;
    background-color: #fff;
    padding: 20px;
    &-avatar {
        display: flex;
        justify-content: center;
    }
    &-content {
        margin-top: 20px;
        &-title {
            text-align: center;
        }
    }
}
