.mj-od-content {
  padding: 16px;
  width: 100%;
  height: calc(100% - 40px);
  .mj-od-topCon {
    padding: 0 16px;
    height: 120px;
    background-color: #ffffff;
  }
  .mj-od-leftCon {
    display: inline-block;
    width: 80%;
    height: 100%;
    vertical-align: top;
    .mj-od-title {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }
    .mj-od-txtCon,
    .mj-od-numContent {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
    .mj-od-txtline {
      display: flex;
      line-height: 30px;
      .mj-od-txt {
        flex: 1;
        span:first-child {
          color: #40b394;
          font-weight: bold;
        }
      }
    }
    .mj-od-numCon {
      display: inline-block;
      padding: 0 5%;
      width: 30%;
      vertical-align: top;
      .mj-od-num {
        span:first-child {
          font-size: 24px;
          color: #303233;
          font-weight: bold;
        }
        span:last-child {
          font-size: 14px;
          color: #919996;
        }
      }
      .mj-od-numTxt {
        font-size: 16px;
        color: #797c80;
      }
    }
    .mj-od-line {
      display: inline-block;
      margin-top: 3%;
      width: 1px;
      height: 30px;
      background-color: #e6e7eb;
    }
  }
  .mj-od-btnCon {
    display: inline-block;
    padding-top: 16px;
    width: 20%;
    height: 100%;
    vertical-align: top;
    text-align: right;
    .ant-btn-primary {
      width: 90px;
      border-radius: 4px;
      border-color: #47c6a4;
      background-color: #47c6a4;
    }
  }
}

.taskPR-firstFloor {
  position: absolute;
  width: 97.5%;
  top: 20px;
}

.taskPR-firstFloor {
  line-height: -1px;
  overflow: hidden;
}

.taskPR-firstFloor-BTN {
  float: right;
  margin-left: 10px;
}

.one-right {
  width: 45%;
  /* background-color: blueviolet; */
  height: 200px;
  float: right;
  position: relative;
}

.one-middle {
  width: 20%;
  /* background-color: blueviolet; */
  height: 200px;
  float: right;
  position: relative;
}

.one-left {
  /* background-color: aqua; */
}

.smallItem {
  position: absolute;
  top: 100px;
  right: 300px;
  /* background-color: #fff; */
}
.smallItem .icon,
.smallItem2 .icon {
  cursor: default !important;
}

.smallItem2 {
  position: absolute;
  top: 100px;
  right: 100px;
  /* background-color:#f40; */
}

.right-picture {
  position: absolute;
  top: 40px;
}
.right-picture canvas:hover {
  cursor: default;
}

.middleText {
  margin: 20px;
}

.re-title {
  width: 4px;
  height: 18px;
  background-color: #595959;
  margin-right: 12px;
  display: inline-block;
}

.re-name {
  // display: inline-block;
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
/* .sec-countainer {
    border-bottom: 1px solid #cccccc;
} */

.p-text {
  padding-top: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
}

.tableContainer .dark-row {
  background-color: rgb(245, 248, 250);
}

.tableContainer .ant-table-thead tr {
  background-color: #f7f9fa;
  th {
    border-top: 1px solid #e6ebe9;
  }
}

.tableContainer .ant-table-tbody > tr > td,
.tableContainer .ant-table-thead > tr > th,
.tableContainer .ant-table tfoot > tr > td,
.tableContainer .ant-table tfoot > tr > th {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-right: 1px solid #e6ebe9;
  &:first-child {
    border-left: 1px solid #e6ebe9;
  }
}
.tableContainer .mj-overViewDetail {
  .mj-oo-icon {
    cursor: pointer;
  }
  .mj-od-tableCon {
    .ant-table-thead tr {
      background-color: #f7f9fa;
    }
  }
}
.tableContainer .mj-overViewDetail .mj-oo-icon .icon {
  margin-right: 4px;
  fill: #a6a6a6;
  vertical-align: sub;
}
.tableContainer .mj-overViewDetail .mj-oo-icon:hover {
  color: #47c6a4;
  svg {
    fill: #47c6a4;
  }
}
