.mj-jm-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  .mj-jm-content {
    padding: 0 16px 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    .mj-jm-topCon {
      display: flex;
      height: 64px;
      line-height: 64px;
      div {
        flex: 1;
      }
      .mj-jm-btn {
        text-align: right;
        .ant-btn {
          width: 100px;
          color: #fff;
          border-radius: 4px;
          background-color: #47c6a4;
          vertical-align: middle;
        }
        .ant-btn:hover,
        .ant-btn:focus {
          border-color: #47c6a4;
        }
        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          vertical-align: middle;
        }
      }
    }

    .mj-jm-tableContainer {
      width: 100%;
      height: calc(100% - 64px);
      .mj-jm-tableScroll {
        width: 100%;
        height: calc(100% - 92px);
        // border-bottom: 1px solid #e6ebe9;
      }
      .mj-jm-title,
      .mj-jm-line {
        div {
          padding: 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:nth-child(1) {
            width: 10%;
          }
          &:nth-child(2) {
            text-align: left;
            width: 20%;
          }
          &:nth-child(3) {
            text-align: left;
            width: 50%;
          }
          &:nth-child(4) {
            width: 20%;
            span {
              cursor: pointer;
              &:first-child:hover {
                color: #30bf99;
                svg {
                  fill: #30bf99;
                }
              }
              &:last-child {
                margin-left: 10px;
                &:hover {
                  color: #f29161;
                  svg {
                    fill: #f29161;
                  }
                }
              }
            }
            svg {
              width: 20px;
              height: 20px;
              fill: #aaaeb3;
              vertical-align: middle;
            }
          }
        }
      }
      .mj-jm-title {
        border-bottom: 1px solid #e6ebe9;
      }
      .mj-jm-line {
        border-bottom: 1px solid #e6ebe9;
        border-top: 0;
        font-weight: normal;
      }
    }
  }
}
