/*分页样式 */

.kyl-kt-pageInfo {
    // margin-left: 20px;
    line-height: 75px;
    color: #b7babf;
}

.kyl-fy {
    // text-align: right;
    // padding-top: 1.5%;
    // padding-right: 1%;
    // float: right;
    // padding-bottom: 20px;
}

.kyl-fy>li>a {
    // width: 38px;
    height: 38px;
    line-height: 38px;
}

.kyl-fy>li {
    min-width: 38px;
    height: 38px;
    line-height: 38px;
    border: none;
    border-radius: 0;
    background: #e7ebee;
}

.kyl-fy>li>a {
    color: #a5acb1;
}

.kyl-fy .ant-pagination-options {
    display: none;
}

.kyl-fy .ant-pagination-item-active {
    background: #1890ff;
}

.kyl-fy .ant-pagination-item-active a {
    color: #fff;
}

.kyl-fy .ant-pagination-prev .ant-pagination-item-link,
.kyl-fy .ant-pagination-next .ant-pagination-item-link {
    border: none;
    border-radius: 0;
    background: #e7ebee;
}