node_modules/*

.vscode
*.js
.versionrc.json
.gitignore
.yarnrc
*.md
*.sh
package.json
.styleignore
stylelint.config.json
tsconfig.json
*.log
*.lock
assets/libs
assets/font
assets/images

dist/
.github/
*.tag.gz

index.html

scripts/

*.zip

waterfall/*.js
