.xm-rgaqjc {
  width: 100%;
  height: 100%;
  background-color: #1f2128;
  overflow: auto;
  .xm-rgmodle {
    background-color: red !important;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  padding-top: 15px;
  .xm-rgaqjc-top {
    width: 100%;
    padding: 0 17px 15px;
    display: flex;
    height: 831px;
    justify-content: space-between;
    .xm-rgaqjc-top-l {
      // width: calc(100% - 300px);
      // flex: 1;
      margin-right: 15px;
      .xm-rgaqjc-left-loading {
        height: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .ant-spin-dot-item {
          background-color: #55dbb7;
        }
        .xm-span {
          color: #55dbb7;
        }
      }
      .xm-rgaqjc-top-l-content {
        width: 100%;
        // overflow: hidden;
        position: relative;
        .vjs-control-text {
          display: none;
        }
      }
      .xm-rgaqjc-top-l-videotime {
        height: 32px;
        width: 100%;
        margin-top: 14px;
        font-size: 12px;
        position: relative;
        display: flex;
        .vlcshot {
          margin-left: 50px;
          height: 30px;
          line-height: 30px;
          width: 70px;
          border-radius: 3px;
          background-color: transparent;
          border: 1px solid #4c4d53;
          color: #fff;
        }
        .xm-videotime-select {
          .ant-select-selector {
            background-color: transparent;
            border: 1px solid #4c4d53;
            // outline: none;
          }
          .ant-select-arrow {
            padding-top: 3px;
            display: block;
            span {
              display: block;
              height: 0;
              width: 0;
              border: 4.5px solid transparent;
              border-top: 4.5px solid #fff;
            }
          }
        }

        .xm-videotime-livebox {
          width: 150px;
          height: 32px;
          display: flex;
          margin-right: 50px;
          p {
            margin: 0;
            // line-height: 30ox;
            height: 30px;
            border: 1px solid #4c4d53;
            border-radius: 3px;
            width: 75px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            // text-align: center;
          }
          p + p {
            border-left: 0;
          }
          p.active {
            background-color: #30bf99;
            border: none;
            height: 30px;
          }
        }

        .xm-videotime-inputbox {
          // background-color: red;
          position: absolute;
          top: 0;
          right: 0;
          width: 175px;
          height: 32px;
          display: flex;
          color: #fff;
          .xm-rgaqjc-top-l-videotime-input {
            width: 108px;
            background-color: #1f2128;
            outline: none;
            text-indent: 15px;
            // color: #fff;
          }
          p {
            cursor: pointer;
            margin-left: 10px;
          }
          .xm-rgaqjc-top-l-videotime-input,
          p {
            line-height: 30px;
            display: block;
            height: 30px;
            border: 1px solid #4c4d53;
            border-radius: 3px;
            padding: 0 15px;
            margin-bottom: 0;
          }
        }
      }
      .xm-rgaqjc-top-l-timeline {
        color: #fff;
        // background-color: deeppink;
        height: 32px;
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .xm-timeline-leftbtn,
        .xm-timeline-rightbtn,
        .xm-timeline-centerbox {
          height: 32px;
          background-color: #2a2c33;
          color: #949599;
        }
        .xm-timeline-leftbtn,
        .xm-timeline-rightbtn {
          width: 32px;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          cursor: pointer;
        }
        .xm-timeline-centerline {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -10px;
          height: 50px;
          width: 10px;
          z-index: 999;
          span {
            width: 0;
            height: 0;
            display: block;
            border: 5px solid transparent;
            position: absolute;
            left: 0;
          }
          span:nth-of-type(1) {
            border-top: 5px solid #30bf99;
            top: 0;
          }
          span:nth-of-type(2) {
            border-bottom: 5px solid #4bf8ca;
            bottom: 0;
          }
          p {
            margin-bottom: 0;
            background-color: #4bf8ca;
            width: 2px;
            height: 42px;
            position: absolute;
            left: 4px;
            top: 4px;
          }
        }
        .xm-timeline-centerbox {
          // flex: 1;
          width: calc(100% - 64px);
          margin: 0 0.6%;
          position: relative;
          overflow: hidden;
          .xm-timeline-progress-timescale {
            position: absolute;
            height: 32px;
            left: 0;
            top: 0;
            display: flex;
            width: 1511px;
            .xm-timeline-progress-oldlist {
              height: 32px;
              width: 1511px;

              position: absolute;
              left: 0;
              top: 0;
              div {
                position: absolute;
                cursor: pointer;
                height: 32px;
                width: 20px;
                left: 50px;
                top: 0;
                background-color: rgba($color: #4bf8ca, $alpha: 0.2);
                &.active {
                  background-color: rgba($color: #4bf8ca, $alpha: 0.8);
                }
                p {
                  width: 100%;
                  height: 32px;
                  margin-bottom: 0;
                  background-color: transparent;
                }
              }
              // opacity: .5;
            }
            li.timescale {
              width: 63px;
              height: 32px;
              position: relative;
              span {
                width: 0;
                height: 4px;
                border-right: 1px solid #78c4b2;
                position: absolute;
                left: 31px;
              }
              p {
                position: absolute;
                height: 12px;
                line-height: 12px;
                color: #b0d8cd;
                font-size: 12px;
                left: 17px;
                top: 10px;
              }
              span:nth-of-type(1) {
                top: 0;
              }
              span:nth-of-type(2) {
                bottom: 0;
              }
            }
            .xm-timeline-progress-timescale-first.timescale,
            .xm-timeline-progress-timescale-last.timescale {
              width: 31px;
            }
            .xm-timeline-progress-timescale-first.timescale {
              span {
                left: 0;
              }
            }
            .xm-timeline-progress-timescale-last.timescale {
              span {
                right: 0;
              }
            }
          }
        }
      }
    }
    .xm-rgaqjc-top-r {
      width: 300px;
      background-color: #2a2c33;
      height: 100%;
      .xm-rgaqjc-top-r-date {
        height: 38px;
        // border-top: 1px solid #35373d;
        border-bottom: 1px solid #35373d;
        .ant-picker.xm-rgaqjc-top-r-input.ant-picker-borderless {
          height: 40px;
          .anticon.anticon-close-circle {
            background-color: #2a2c33;
            border: none;
            outline: none;
          }
          .ant-picker-clear {
            display: none;
          }
          .ant-picker-input input {
            color: #bdbebf;
            padding: 0 10px;
          }
          svg {
            fill: #aaabad;
            width: 17px;
            height: 17px;
            position: relative;
            left: -10px;
            // margin-left: -10px;
          }
        }
      }
      .xm-rgaqjc-top-r-treebox {
        width: 100%;
        // height: 500px;
        overflow: auto;
        height: calc(100% - 40px - 35px);
        margin-top: 20px;
      }
      .xm-rgaqjc-top-r-tree {
        background-color: #2a2c33;
        color: #bdbebf;
        margin-left: 20px;
        height: 100%;
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open:hover {
          background-color: #2a2c33 !important;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close:hover {
          background-color: #2a2c33 !important;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open.ant-tree-node-selected {
          background-color: #24252b;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close.ant-tree-node-selected {
          background-color: #24252b;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
          background-color: rgba($color: #fff, $alpha: 0.08);
          &:hover {
            background-color: rgba($color: #fff, $alpha: 0.5);
          }
        }
        // 有效的选项
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal.ant-tree-node-selected {
          background-color: #24252b;
          .teaching-p p {
            background-color: #31eab9;
          }
          .teaching-word,
          span {
            color: #31eab9;
          }
        }
      }
    }
  }
  .xm-recordbox {
    // height: 829px;
    // background-color: red;
    // width: 1165px;
    width: 100%;
    // margin: auto;
    // height: 100%;
    // overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    border-left: 1px solid #e6ebe9;
    border-right: 1px solid #e6ebe9;
    padding: 20px 18px 40px;
    .xm-recordbox-title {
      height: 16px;
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 16px;
    }
    .xm-recordbox-imgbox {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        color: #a1a5a9;
        position: relative;
        top: -100px;
      }
    }
  }
  .xm-fullSceen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    background-color: #fff;
    p {
      position: absolute;
      right: 50px;
      top: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 50px;
      margin: 0;
      margin-top: 20px;
      cursor: pointer;
      color: #fff;
      background-color: rgba($color: #ccc, $alpha: 0.5);
      border-radius: 10px;
    }
    .xm-imgbox {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.mzc-rgmodalCon {
  width: 650px;
  margin: 22px auto 0;
  text-align: left;
  position: relative;
  .mzc-modalConImgb {
    width: 650px;
    height: 363px;
    position: relative;
    .mzc-modalConFull {
      cursor: pointer;
      position: absolute;
      width: 50px;
      padding: 8px;
      right: 10px;
      top: 10px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.2);
      img {
        width: 100%;
      }
    }
    > img {
      width: 650px;
      height: 363px;
    }
  }
  .mzc-checktag.ant-tag.ant-tag-checkable {
    background-color: #edeef2;
    color: #616266;
    line-height: 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 16px;
  }
  .mzc-checktag.ant-tag.ant-tag-checkable.ant-tag-checkable-checked {
    background-color: #daf2ec;
    color: #24b38c;
  }
  .mzc-textarea {
    width: 100%;
    textarea {
      resize: none;
    }
  }
  .mzc-textareainfo {
    overflow: auto;
  }
  .mzc-textarea textarea,
  .mzc-textareainfo {
    width: 100%;
    text-indent: 10px;
    border: 1px solid #c8cacc;
    border-radius: 5px;
    margin-top: 18px;
    margin-top: 18px;
    height: 78px;
    font-size: 12px;
    line-height: 20px;
    padding-top: 13px;
  }
  .mzc-time {
    line-height: 22px;
    font-size: 12px;
    color: #494a4d;
    margin-top: 14px;
    margin-bottom: 0;
  }
}
