.ll-classOrBuildingReport {
    padding: 20px;

    >.ll-content {

        >.ll-searchCondition {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;

            >div {
                display: flex;
                align-items: center;

                >div {
                    margin-right: 20px;
                }
            }
        }

        >.ll-table {
            padding-top: 20px;
        }
    }
}

.ll-title {
    font-size: 20px;
}

.ll-redFont {
    color: red;
}

.ll-cursorP {
    cursor: pointer;
}

.ll-disabled {
    color: rgba(0, 0, 0, .25);
}

.ll-classOrBuildingDetail {
    padding-top: 10px;

    >.ll-classOrBuilding-title {
        border-bottom: 1px solid #ebebeb;
    }

    .ll-detail-content {
        padding-top: 10px;

        >.ll-personList {
            padding: 10px 0px;
            display: flex;
            flex-wrap: wrap;

            >.ll-personName {
                border: 1px dashed #ebebeb;
                margin: 0 10px 10px 0;
                padding: 0 5px;
                width: 80px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.ll-blueTitle {
    color: #3687d9;
    border-bottom: 3px solid #3687d9;
    display: inline-block;
}

.ll-modal-btnctn {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    >div {
        margin-right: 20px;
    }
}