.yhc-stuRoomManageflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yhc-stuManageFont{
    display: flex;
    border-radius: 25px;
    width: 80px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.yhc-exitRoom .ant-drawer-content-wrapper{
    width: 40%!important;
}
.yhc-addStu .ant-drawer-content-wrapper{
    width: 50%!important;
}
.yhc-tableCenter .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th:last-child{
    text-align: center;
}
.yhc-upload{
    display: flex;
    justify-content: center;
}
.yhc-upload .xq-guide-upload-l{
    width: 80%!important;
    height: 320px!important;
}
.yhc-tishi{
    display: flex;
    color: #5b9fe5;
    background-color: #eff5fb;
    border: 1px solid #d6e5f5;
    padding: 15px;
    margin-bottom: 20px;
}
.yhc-hidden{
    overflow: hidden;
    position: fixed;
}
.yhc-auto{
    overflow: auto;
    position: static;
}
#yhc-studentRoom{
    height: 100%;
}