.ff-createBTN .ant-btn-primary {
  background-color: rgb(244, 193, 105);
  border: 1px solid rgb(244, 193, 105);
}

.ff-createBTN .ant-btn-primary:hover {
  background-color: rgb(253, 201, 112);
}
.ff-createBTN svg {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  fill: #fff;
}

.pagination-text {
  color: rgba(0, 0, 0, 0.65);
}

.first-title {
  display: inline-block;
}

.ff-name.title-line {
  width: 4px;
  height: 18px;
  background-color: #595959;
  margin-right: 12px;
  display: inline-block;
}

.dark-row {
  background-color: rgb(245, 248, 250);
}

.special .ant-modal {
  width: 50%;
}

.llei-title {
  margin-top: 20px;
  background-color: #f7f9fa;
  color: #4d4d4d;
  border: 1px solid #e6ebe9;
  border-left: none;
  border-right: none;
}
.llei-table .llei-tableLine {
  height: 52px;
  color: #4c4c4c;
  border-bottom: 1px solid #e6ebe9;
  /* border-top: 1px solid #e1ebef; */
}
.llei-table .llei-tableLine:nth-child(even) {
  background-color: #fff;
}
.llei-table .llei-tableLine:nth-child(odd) {
  background-color: #fff;
}
.llei-title div,
.llei-table .llei-tableLine div {
  display: inline-block;
  line-height: 50px;
  border-right: 1px solid #e6ebe9;
}
.llei-title div:nth-child(1),
.llei-table .llei-tableLine div:nth-child(1) {
  width: 6%;
  text-align: center;
  border-left: 1px solid #e6ebe9;
}
.llei-title div:nth-child(2),
.llei-table .llei-tableLine div:nth-child(2) {
  padding-left: 2%;
  width: 74%;
}
.llei-title div:nth-child(3),
.llei-table .llei-tableLine div:nth-child(3) {
  width: 20%;
  text-align: center;
}
.llei-table .llei-tableLine div:nth-child(3) .icon {
  margin-right: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: #a6a6a6;
  vertical-align: middle;
}
.llei-table .llei-tableLine .mj-es-iconCon span:hover{
  cursor: pointer;
  color: #47c6a4;
}
.llei-table .llei-tableLine .mj-es-iconCon span:hover svg{
  fill: #47c6a4;
}
.llei-table .llei-tableLine .mj-es-iconCon .mj-es-iconDele:hover{
  color: #f4c169;
}
.llei-table .llei-tableLine .mj-es-iconCon .mj-es-iconDele:hover svg{
  fill: #f4c169;
}
/* .llei-table .llei-tableLine:hover {
  background-color: #e6f7ff;
} */
