.xm-ktcxxq{
  height: 100%;
  background-color: #f1f2f7;
  // display: flex;
  ul,li{
    list-style: none;
  }
  // flex-direction: column;
  .xm-ktcxxq-content{
    // flex: 1;
    height: calc(100% - 40px);
    padding: 15px;
    // display: flex;
    // flex-direction: column;
    .xm-ktcxxq-content-class{
      padding-top: 17px;
      padding-left: 20px;
      height: 110px;
      margin-bottom: 15px;
      background-color: #fff;
      p{
        line-height: 15px;
        font-size: 15px;
        color: #494a4d;
      }
      ul{
        margin-top: 10px;
        width: 885px;
        display: flex;
        flex-wrap: wrap;
        li{
          line-height: 24px;
          font-size: 12px;
          width: 295px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          b{
            font-weight: bold;
            color: #40b394;
          }
        }
      }
    }
    .xm-ktcxxq-content-list{
      // flex: 1;
      height: calc(100% - 110px - 15px);
      // overflow-y: scroll;
      // overflow: hidden;
      background-color: #fff;
      padding: 17px 19px 20px;
      .xm-recordbox-title{
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        margin-bottom: 16px;
      }
      .xm-nodata{
        height: calc(100% - 16px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // img{
        //   margin: 20px auto 0;
        //   display: block;
        // }
      }
    }
  }
}