.ll-err{
    .ant-modal-footer{
        display: none;
    }
    .ant-modal-content{
        width: 398px;
        height: 172px;
    }
    .ant-modal-close-x{
        color: rgba(0, 0, 0, 0.75) !important;
    }
    .ant-modal-body{
        height: 118px;
        position: relative;
        
        .ll-err-content{
            position: absolute;
            top: 50%;
            transform: translateY(-50% );
            margin-left: 38px;
            font-weight: 400;
            div{
                display: inline-block;
            }

        }
        .icon{
            font-size: 40px;
            margin-right: 20px;
        }
        }
    
}