.ll-allot {
    height: 100%;
    width: 100%;
    padding: 0 20px 20px 20px;
    overflow: auto;

    .ll-timeWdge {
        height: 75px;
        width: 100%;
        position: relative;
        .lrf-icon {
          color:#49a7fd;
          font-size: 30px;
          margin-right: 10px;
        }
    }
    .lrf-timeWdge-college {
        height: 120px;
        width: 100%;
        position: relative;
        .lrf-icon {
          color:#49a7fd;
          font-size: 30px;
          margin-right: 10px;
        }
    }

    .ll-allotBox {
        width: 100%;
        min-height: calc(100% - 75px);
        background: #fff;
        // padding: 0 18px 18px 18px;
    }
    .lrf-allotBox {
      width: 100%;
      min-height:  calc(100% - 120px);
      background: #fff;
    }



}

.ll-follow-top {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;

    .ll-fllowLeft {
        width: 28%;
        height: 100%;
        background: #fff;
        display: inline-block;
        padding: 20px;
        vertical-align: top;

        
    }

    .ll-fllowRight {
        width: calc(72% - 20px);
        height: 100%;
        background: #fff;
        display: inline-block;
        margin-left: 20px;
        padding: 20px;
    }


}
.ll-fL-top {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}
.ll-fL-center {
    height: 52px;
    width: 100%;

    .ll-fl-bor {
        height: 100%;
        width: 50%;
        display: inline-block;

        .icon {
            font-size: 26px;
            width: 26px;
            margin-right: 4px;
        }

        .ll-fl-total {
            display: inline-block;
            width: calc(100% - 30px);

            div {
                &:first-child {
                    font-size: 20px;
                }

                &:last-child {
                    color: #647281;
                }
            }
        }
    }
}

.ll-fl-bot {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    .ll-fl-jindu {
        width: 100%;
        div {
            display: inline-block;
            &:first-child {
                width: 80px;
                line-height: 20px;
            }
            &:last-child{
                width: calc(100% - 80px);
                line-height: 20px;
                text-align: right;
                span{
                    font-size: 18px;
                }
            }
        }
    }
}
.ll-fR-top{
    margin-bottom: 18px ;
}
.ll-fR-center{
    height: 24px;
    line-height: 24px;
    position: relative;
    .ll-fR-left{
        position: absolute;
        top: 0;
        left: 0;
    }
    .ll-fR-right{
        position: absolute;
        top: 0;
        right: 0;
        div{
            display: inline-block;
            &:first-child{
                margin-right: 10px;
            }
            &:nth-child(2){
                color: #7f8a95;
                margin-right: 7px;
            }
            &:last-child{
                color: #7f8a95;
                margin-left: 7px;
                span{
                    font-size: 18px;
                }
            }

        }
        .icon{
            font-size: 12px;
            color: #ff4d4f;
        }
    }
  
}
.ll-fl-down{
    .icon{
        transform: rotate(180deg) !important
    }
}
.ll-fR-tj{
    width: 100%;
    height: calc(100% - 62px);
    .text {
        margin-left: 10px;
    }
    
}

.ll-followD-top{
    height: 58px;
    width: 100%;
    line-height: 58px;
}

.ll-followD-content{
    width: 100%;
    min-height: calc(100% - 58px);
    background: #fff;
    padding: 0 18px 18px 18px;
    position: relative;
}
.tj-followD-download{
    color: #3498db;
    line-height: 58px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 39px;
    font-size:16px;
    font-weight: bold;
    svg{
        font-size: 18px;
        margin-right: 5px;
    }
}
.tj-timeShow{
    float: right;
    line-height: 58px;
}