.kyl-barTopCont{
  display: flex;
  justify-content: space-between;
}
.kyl-ttc-pieTi{
  left: calc(50% - 50px);
  font-weight: 500;;
  top: 20px;
  color:#000;
  text-align: center;
  margin-top: 20px
}