/**************教学秩序****************/

.zoe-data-container {
    width: 100%;
    height: calc(100% - 45px);
    background: #fff;
}

.zoe-nav {
    height: 65px;
    display: flex;
    align-items: center;
    background: #EBF1F5;

    .zoe-goBack {
        margin-right: 10px;

        SVG {
            font-size: 30px;
            // color: rgb(173, 175, 176)
            color: #60b1fc;
        }
    }

    .zoe-goBack1 {
        cursor: pointer;

        &:hover SVG {
            color: #60b1fc;
        }

        &:active SVG {
            color: #60b1fc;
        }
    }

    >p {
        font-size: 14px;

        span:not(:last-child) {
            cursor: pointer;
        }
    }
}

.zoe-data-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #d9e5ea;
    background: #fbfcfd;
    position: relative;
    z-index: 10;
    >div {
        display: flex;
        align-items: center;
    }

    .zoe-data-select {
        top: 50%;
        transform: translate(0, -50%);
        position: relative;

        >div {
            display: flex;
            align-items: center;
        }
    }

    .zoe-data-date {
        >div {
            display: flex;
            align-items: center;
        }

        >div:last-child {
            width: 220px;
            height: 36px;
            line-height: 36px;
            border: 1px solid #d8d8d8;
            position: relative;

            >span {
                width: 33.3333%;
                text-align: center;
                border-right: 1px solid #d8d8d8;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    // background: #3498db;
                    color: #1890ff;
                }

                &:last-child {
                    border: none;
                }
            }

            .zoe-selDate {
                background: #3498db;
                color: #fff !important;
            }

            .ws-popover {
                .ant-popover-inner-content {
                    padding: 0;
                }

                .ant-popover-arrow {
                    display: none;
                }

                .ws-datePicker-sel {
                    display: none;
                }
            }

            .ws-datePicker {
                left: -57px !important;
                top: 46px !important;
            }

            .ws-monthPicker {
                left: -56.656px !important;
                top: 46px !important;
            }
        }
    }
}

.zoe-data-hover-week {
    width: 300px;
    height: 340px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
    position: absolute;
    left: -185px;

    >div:first-child {
        text-align: center;
        font-size: 16px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ededed;
        color: #333;
    }

    >div:last-child {
        padding: 10px 0 10px 5px;
        height: calc(100% - 50px);
        display: flex;
        flex-wrap: wrap;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .tj-week-disable:hover {
            color: rgba(0, 0, 0, 0.25);
        }

        >div {
            width: 65px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            color: #333;
            cursor: pointer;

            &:hover {
                color: #1890ff;
            }

            &:nth-child(4n+4) {
                margin-right: 0;
            }
        }

        .zoe-week-sel {
            border: 1px solid #2e98fd;
            border-radius: 5px;
            color: #1189fd;
        }

        .tj-week-disable {
            border: 1px solid transparent;
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.25);
            background: #ffffff;
            cursor: not-allowed;
        }
    }
}

.zoe-data-statis {
    display: flex;
    width: 100%;
    height: 85px;

    .zoe-data-statis-cont {
        width: 16.67%;
        height: 100%;
        border: 1px solid #eff2f5;
        box-shadow: 0 0 10px #f0f3f6;
        border-radius: 10px;
        margin-right: 10px;

        &:last-child {
            margin: 0;
        }

        &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;

            >div:first-child {
                margin-right: 20px;
                color: #647281;
            }

            >div:last-child {
                max-width: 60px;
                display: inline-block;
                color: #535f6c;
                font-size: 19px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 85px;
            }
        }

        &:not(:first-child) {
            >div {
                height: 50%;
            }

            >div:first-child {
                display: flex;
                align-items: center;

                >div:first-child {
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        font-size: 25px;
                    }
                }

                >div:last-child {
                    color: #647281;
                }
            }

            >div:last-child {
                padding-left: 40px;
                font-size: 19px;
                color: #535f6c;
            }
        }
    }

    .zoe-data-statis-cont1 {
        width: 16.67%;
        height: 100%;
        border: 1px solid #eff2f5;
        box-shadow: 0 0 10px #f0f3f6;
        border-radius: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        >div {
            display: flex;
            color: #647281;
            height: 50%;
            padding-left: 5%;
        }
        

        >div:first-child {
            line-height: 50px;
        }

        >div:last-child {
            display: flex;
            line-height: 30px;

            >div:first-child {
                margin-right: 5px;

                >div:last-child {
                    font-size: 18px;
                    color: #535f6c;
                    white-space: nowrap;
                    display: inline-block;
                    max-width: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            >div:last-child>div:last-child {
                font-size: 18px;
                color: #535f6c;
                white-space: nowrap;
                display: inline-block;
                max-width: 60px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .tj-teas{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 82%;
        }
    }
}

.zoe-data-download {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .zoe-down {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
            font-size: 20px;
            margin-right: 5px;
        }

        div {
            color: #3498db;
            font-size: 17px;
            font-weight: bold;
        }
    }
}

.zoe-sort-span {
    position: relative;
    height: 20px;
    width: 100%;
    // top: 50%; //v1.21
    transform: translateY(-50%);
}

.zoe-svg-xia {
    position: absolute;
    top: 7px;
    transform: scale(0.8) translateX(50%);
    left: 0;
}

.zoe-svg-xia1 {
    position: absolute;
    top: 7px;
    transform: scale(0.8) translateX(50%) rotate(180deg);
    left: 0;
}

.zoe-svg-shang {
    position: absolute;
    top: 0px;
    transform: scale(0.8) translateX(50%) rotate(180deg);
    left: 0;
}

.zoe-svg-shang1 {
    position: absolute;
    top: 0px;
    transform: scale(0.8) translateX(50%);
    left: 0;
}

.zoe-order-table .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover,
.zoe-order-table .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
    color: #bfbfbf;
    background: none;
}

.zoe-order-table .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:active,
.zoe-order-table .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:active {
    color: #bfbfbf;
    background: none;
}

.zoe-order-table .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open,
.zoe-order-table .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
    color: #bfbfbf;
    background: none;
}

.zoe-order-table-click .ant-table-tbody tr {
    // color: #3498db;
}

.zoe-order-table-click .ant-table-tbody tr:hover {
    color: #787878;
}

.zoe-order-table-click .ant-table-tbody tr:active {
    color: #787878;
}

.zoe-order-table-noclick .ant-table-tbody tr {
    color: #787878;
}

//课程统计 筛选样式
.zoe-order-cla-table1 .ant-table-thead>tr>th:nth-child(7)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table1 .ant-table-thead>tr>th:nth-child(8)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table1 .ant-table-thead>tr>th:nth-child(9)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table1 .ant-table-thead>tr>th:nth-child(10)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table1 .ant-table-thead>tr>th:nth-child(11)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table1 .ant-table-thead tr th:nth-child(3) {
    width: 15%;
}

//教师统计 筛选样式
.zoe-order-cla-table2 .ant-table-thead>tr>th:nth-child(6)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table2 .ant-table-thead>tr>th:nth-child(7)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table2 .ant-table-thead>tr>th:nth-child(8)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table2 .ant-table-thead>tr>th:nth-child(9)>.ant-table-filter-icon {
    width: 50%;
}

.zoe-order-cla-table2 .ant-table-thead>tr>th:nth-child(10)>.ant-table-filter-icon {
    width: 50%;
}

// //教学班统计 筛选样式
// .zoe-order-cla-table3 .ant-table-thead > tr>th:nth-child(7) >.ant-table-filter-icon
// {
//    width:47%;
// }
// .zoe-order-cla-table3 .ant-table-thead > tr>th:nth-child(8)>.ant-table-filter-icon
// {
//    width:50%;
// }
// .zoe-order-cla-table3 .ant-table-thead > tr>th:nth-child(9)>.ant-table-filter-icon
// {
//    width:50%;
// }
// .zoe-order-cla-table3 .ant-table-thead > tr>th:nth-child(10)>.ant-table-filter-icon
// {
//    width:54%;
// }
// .zoe-order-cla-table3 .ant-table-thead > tr>th:nth-child(11)>.ant-table-filter-icon
// {
//    width:50%;
// }
// //课堂统计 筛选样式
// .zoe-order-cla-table4 .ant-table-thead > tr>th:nth-child(7) >.ant-table-filter-icon
// {
//    width:47%;
// }
// .zoe-order-cla-table4 .ant-table-thead > tr>th:nth-child(8)>.ant-table-filter-icon
// {
//    width:50%;
// }
// .zoe-order-cla-table4 .ant-table-thead > tr>th:nth-child(9)>.ant-table-filter-icon
// {
//    width:50%;
// }
// .zoe-order-cla-table4 .ant-table-thead > tr>th:nth-child(10)>.ant-table-filter-icon
// {
//    width:54%;
// }
// .zoe-order-cla-table4 .ant-table-thead > tr>th:nth-child(11)>.ant-table-filter-icon
// {
//    width:50%;
// }
.zoe-order-table .ant-table-tbody>tr {
    // cursor: pointer;
}

.zoe-order-table .zoe-none {
    display: none;
}

.zoe-order-table {
    .ant-table-thead>tr>th .anticon-filter,
    .ant-table-thead>tr>th .ant-table-filter-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: unset;
        height: unset;
        width: unset;
    }
}

.zoe-ellipsis {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.zoe-qua-table .ant-table-tbody>tr>td:nth-child(1),
.zoe-order-cla-table1 .ant-table-tbody>tr>td:nth-child(1) {
    width: 18%;
}

.zoe-qua-table .ant-table-tbody>tr>td:nth-child(2),
.zoe-order-cla-table1 .ant-table-tbody>tr>td:nth-child(2) {
    width: 18%;
}

.zoe-qua-table .ant-table-tbody>tr>td:nth-child(3),
.zoe-order-cla-table1 .ant-table-tbody>tr>td:nth-child(3) {
    width: 15%;
}

.zoe-qua-table .ant-table-tbody>tr>td:nth-child(4),
.zoe-order-cla-table1 .ant-table-tbody>tr>td:nth-child(4) {
    width: 10%;
}

.zoe-qua-table .ant-table-tbody>tr>td:nth-child(5),
.zoe-order-cla-table1 .ant-table-tbody>tr>td:nth-child(5) {
    width: 15%;
}

.zoe-qua-table .ant-table-tbody>tr>td:nth-child(6),
.zoe-order-cla-table1 .ant-table-tbody>tr>td:nth-child(6) {
    width: 12%;
}

.zoe-order-cla-table2 .ant-table-tbody>tr>td:nth-child(1),
.zoe-qua-tea-table .ant-table-tbody>tr>td:nth-child(1) {
    width: 18%;
}

.zoe-order-cla-table2 .ant-table-tbody>tr>td:nth-child(2),
.zoe-qua-tea-table .ant-table-tbody>tr>td:nth-child(2) {
    width: 18%;
}

.zoe-order-cla-table2 .ant-table-tbody>tr>td:nth-child(3),
.zoe-qua-tea-table .ant-table-tbody>tr>td:nth-child(3) {
    width: 18%;
}

.zoe-order-cla-table2 .ant-table-tbody>tr>td:nth-child(4),
.zoe-qua-tea-table .ant-table-tbody>tr>td:nth-child(4) {
    width: 15%;
}

.zoe-order-cla-table2 .ant-table-tbody>tr>td:nth-child(5),
.zoe-qua-tea-table .ant-table-tbody>tr>td:nth-child(5) {
    width: 12%;
}


/**************教学质量****************/

.zoe-data-container1 {
    width: 100%;
    height: calc(100% - 145px);
    background: #fff;
}

.zoe-footer {
    height: 80px;
    background: #fff;
    color: #b7babf;
    padding-left: 25px;
    line-height: 80px;
}

.zoe-qua-tea-table {
    .ant-table-thead tr:first-child>th {
        padding: 15px 15px;
    }

    .ant-table-thead tr:first-child>th:nth-child(4) {
        text-align: left;
    }

    .ant-table-thead tr:first-child>th:nth-child(5) {
        text-align: center;
    }

    .ant-table-thead>tr:first-child>th:first-child {
        width: 15%;
    }

    .ant-table-thead tr:last-child>th {
        padding: 5px 10px;
    }

    .ant-table-tbody tr {
        cursor: pointer;
    }

    .ant-table-thead tr:first-child .zoe-teach-analy {
        background: #f3f0f0;
    }

    .ant-table-thead tr:first-child .zoe-cla-room {
        background: #f3f0f0;
    }

    .ant-table-thead tr:last-child .zoe-teach-analy-item1 {
        background: #f3f0f0;
    }

    .ant-table-thead tr:last-child .zoe-cla-room-item {
        background: #f3f0f0;
    }

    .ant-table-tbody tr td.zoe-teach-analy-item1:nth-child(6) {
        width: 120px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-teach-analy-item1:nth-child(7) {
        width: 135px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-teach-analy-item1:nth-child(8) {
        width: 120px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-stu-behav-item1:nth-child(9) {
        width: 120px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-stu-behav-item1:nth-child(10) {
        width: 110px;
        text-align: left;
    }

    .ant-table-tbody>tr>td:nth-child(6),
    .ant-table-tbody>tr>td:nth-child(7),
    .ant-table-tbody>tr>td:nth-child(8),
    .ant-table-tbody>tr>td:nth-child(9),
    .ant-table-tbody>tr>td:nth-child(10),
    .ant-table-tbody>tr>td:nth-child(11) {
        padding: 16px 10px;
    }

    .zoe-none {
        display: none;
    }

    .ant-table-thead>tr>th {
        text-align: center;
    }

    .ant-table-thead>tr>th:nth-child(4) {
        text-align: center;
    }

    .ant-table-thead>tr>th:nth-child(-n+5) {
        text-align: left;
    }

    .ant-table-tbody>tr>td {
        font-size: 13px;
        border-right: 1px solid #efefef;

        &:last-child {
            border-right: none;
        }
    }

    .ant-table-tbody>tr>td:nth-child(4) {
        text-align: left;
    }

    .ant-table-tbody>tr>td:nth-child(5) {
        text-align: center;
    }

    .ant-table-tbody>tr>td:nth-child(6) {
        text-align: center;
    }

    .ant-table-tbody>tr>td:nth-child(n+11) {
        text-align: center;
    }

    .zoe-college {
        display: inline-block;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
}

.zoe-qua-table {
    .ant-table-thead tr:first-child>th {
        padding: 15px 15px;
    }

    .ant-table-thead tr:first-child>th:nth-child(4) {
        text-align: center;
    }

    .ant-table-thead>tr:first-child>th:first-child {
        width: 15%;
    }

    .ant-table-thead tr:last-child>th {
        padding: 5px 10px;
    }

    .ant-table-tbody tr {
        // cursor: pointer;
    }

    .ant-table-thead tr:first-child .zoe-teach-analy {
        background: #f3f0f0;
    }

    .ant-table-thead tr:first-child .zoe-teach-analy {
        background: #f3f0f0;
    }

    .ant-table-thead tr:first-child .zoe-cla-room {
        background: #f3f0f0;
    }

    .ant-table-thead tr:last-child .zoe-teach-analy-item {
        background: #f3f0f0;
    }

    .ant-table-thead tr:last-child .zoe-teach-analy-item1 {
        padding: 5px 10px;
    }

    .ant-table-thead tr:last-child .zoe-cla-room-item {
        background: #f3f0f0;
    }

    .ant-table-tbody tr td.zoe-teach-analy-item:nth-child(7) {
        width: 120px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-teach-analy-item:nth-child(8) {
        width: 135px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-teach-analy-item:nth-child(9) {
        width: 120px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-stu-behav-item:nth-child(10) {
        width: 120px;
        text-align: left;
    }

    .ant-table-tbody tr td.zoe-stu-behav-item:nth-child(11) {
        width: 110px;
        text-align: left;
    }

    .ant-table-tbody>tr>td:nth-child(7),
    .ant-table-tbody>tr>td:nth-child(8),
    .ant-table-tbody>tr>td:nth-child(9),
    .ant-table-tbody>tr>td:nth-child(10),
    .ant-table-tbody>tr>td:nth-child(11) {
        padding: 16px 10px;
    }

    .zoe-none {
        display: none;
    }

    .ant-table-thead>tr>th {
        text-align: center;
    }

    .ant-table-thead>tr>th:nth-child(4) {
        text-align: center;
    }

    .ant-table-thead>tr>th:nth-child(-n+5) {
        text-align: left;
    }

    .ant-table-tbody>tr>td {
        font-size: 13px;
        border-right: 1px solid #efefef;

        &:last-child {
            border-right: none;
        }
    }

    .ant-table-tbody>tr>td:nth-child(4) {
        text-align: center;
    }

    .ant-table-tbody>tr>td:nth-child(6) {
        text-align: center;
    }

    .ant-table-tbody>tr>td:nth-child(n+12) {
        text-align: center;
    }

    .zoe-college {
        display: inline-block;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
}

.zoe-data-quastatis {
    display: flex;
    width: 100%;
    height: 85px;

    .zoe-data-statis-cont {
        width: 180px;
        height: 100%;
        border: 1px solid #eff2f5;
        box-shadow: 0 0 10px #f0f3f6;
        border-radius: 10px;
        margin-right: 10px;

        &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;

            >div:first-child {
                margin-right: 9px;
                color: #647281;
                display: inline-block;
                max-width: 84px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            >div:last-child {
                max-width: 60px;
                display: inline-block;
                color: #535f6c;
                font-size: 19px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 85px;
            }
        }

        &:not(:first-child) {
            >div {
                height: 50%;
            }

            >div:first-child {
                display: flex;
                align-items: center;

                >div:first-child {
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    SVG {
                        font-size: 25px;
                    }
                }

                >div:last-child {
                    color: #647281;
                }
            }

            >div:last-child {
                padding-left: 40px;
                color: #535f6c;

                span {
                    font-size: 19px;
                }
            }
        }
    }

    .zoe-data-statis-cont1 {
        width: 16.67%;
        height: 100%;
        border: 1px solid #eff2f5;
        box-shadow: 0 0 10px #f0f3f6;
        border-radius: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        >div {
            display: flex;
            color: #647281;
            height: 50%;
            padding-left: 5%;
        }

        >div:first-child {
            line-height: 50px;
        }

        >div:last-child {
            display: flex;
            line-height: 30px;

            >div:first-child {
                margin-right: 5px;

                >div:last-child {
                    font-size: 18px;
                    color: #535f6c;
                    white-space: nowrap;
                    display: inline-block;
                    max-width: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            >div:last-child>div:last-child {
                font-size: 18px;
                color: #535f6c;
                white-space: nowrap;
                display: inline-block;
                max-width: 60px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}