.zxq-deatilContent {
  background: #fff;
  min-height: 100%;
  margin: 18px 20px;
  width: calc(100% - 40px);

  .zxq-teaD-bot {
    width: 100%;
    height: calc(100% - 182px);

    .zxq-down {
      width: 100%;
      height: 58px;
      line-height: 58px;
      position: relative;

      .zxq-down-content {
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 20px;
        top: 50%;
        color: #3498db;
        cursor: pointer;
        font-weight: bold;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        .icon {
          font-size: 18px;
          margin-right: 7px;
        }

        div {
          font-size: 16px;
          display: inline-block;
        }
      }
    }
  }

  .zxq-kqTable {
    width: 100%;
    height: calc(100% - 58px);
    padding: 0 18px;

    .ant-table-thead {
      th {
        display: inline-block;
        background: #fafafa;
        text-align: left;
        .ant-table-column-title>div{
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &:not(:first-child) {
          text-align: center;
        }

        @extend .ll-deWidth
      }
    }

    .ant-table-tbody {
      tr {
        // color: #3498db;

        &:hover {
          color: #787878
        }
      }
    }

    .ant-table-row {
      td {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding: 0 10px !important;
        text-align: left;

        &:not(:first-child) {
          text-align: center;
        }

        @extend .ll-deWidth
      }
    }
    .ll-td{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 2px;
      white-space: nowrap;
      height: 50px;
      line-height: 50px;
    }
  }
  .zxq-kqTable.isCourseNum {
    .ant-table-thead {
      th {
        .ant-table-column-title>div{
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @extend .ll-deWidth.isCourse
      }
    }
    .ant-table-row {
      td {
        @extend .ll-deWidth.isCourse
      }
    }
  }

  .ant-table-tbody>tr>td {
    height: 50px;
    line-height: 50px;
    padding: 0 10px !important;
    // cursor: pointer;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 16px 10px;
  }

  .zxq-td {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
  }

  .ll-deWidth {
    &:first-child {
      width: 12%;
    }

    &:nth-child(2) {
      width: 13.5%;
    }

    &:nth-child(3) {
      width: 9.7%;
    }

    &:nth-child(4) {
      width: 9%;
    }

    &:nth-child(5) {
      width: 8%;
    }

    &:nth-child(6) {
      width: 14.6%;
    }

    &:nth-child(7) {
      width: 11.3%;
    }

    &:nth-child(8) {
      width: 13.9%;
    }
    &:nth-child(9) {
      width: 8%;
    }
  }
  .ll-deWidth.isCourse {
    &:first-child {
      width: 9%;
    }

    &:nth-child(2) {
      width: 7%;
    }

    &:nth-child(3) {
      width: 8%;
    }

    &:nth-child(4) {
      width: 8%;
    }

    &:nth-child(5) {
      width: 8%;
    }

    &:nth-child(6) {
      width: 8%;
    }

    &:nth-child(7) {
      width: 8%;
    }

    &:nth-child(8) {
      width: 12%;
    }
    &:nth-child(9) {
      width: 12%;
    }
    &:nth-child(10) {
      width: 12%;
    }
    &:nth-child(11) {
      width: 8%;
    }
  }
  .zxq-timeDiv {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      height: 20px;
      line-height: 20px;
    }
  }

  //   .stuStand, .ant-table-thead > tr > th:not(:first-child), .ant-table-tbody > tr > td:not(:first-child)
  //     {
  //       text-align: center;
  //   }



}

.zxq-resTable.isCourseNum{
  .ant-table-thead {
    th {

      @extend .ll-resWidth.isCourse
    }
  }
  .ant-table-row {
    td {

      @extend .ll-resWidth.isCourse
    }
  }
  .ll-resWidth.isCourse {
    &:first-child {
      width:10%;
    }

    &:nth-child(2) {
      width:10%;
    }

    &:nth-child(3) {
      width:10%;
    }

    &:nth-child(4) {
      width:10%;
    }

    &:nth-child(5) {
      width:10%;
    }

    &:nth-child(6) {
      width:10%;
    }

    &:nth-child(7) {
      width:10%;
    }
    &:nth-child(8) {
      width:10%;
    }
    &:nth-child(9) {
      width:10%;
    }
    &:nth-child(10) {
      width: 10%;
    }
  }
}
.zxq-resTable {
  width: 100%;
  height: calc(100% - 58px);
  padding: 0 18px;

  .ant-table-thead {
    th {
      display: inline-block;
      background: #fafafa;
      text-align: left;

      &:not(:first-child) {
        text-align: center;
      }

      @extend .ll-resWidth
    }
  }

  .ant-table-tbody {
    tr {
      // color: #3498db;

      &:hover {
        color: #787878
      }
    }
  }

  .ant-table-row {
    td {
      display: inline-block;
      // cursor: pointer;
      height: 50px;
      line-height: 50px;
      padding: 0 10px !important;
      // cursor: pointer;
      text-align: left;

      &:not(:first-child) {
        text-align: center;
      }

      @extend .ll-resWidth
    }
  }

  .ll-resWidth {
    &:first-child {
      width: 12%;
    }

    &:nth-child(2) {
      width: 12.5%;
    }

    &:nth-child(3) {
      width: 12.7%;
    }

    &:nth-child(4) {
      width: 12%;
    }

    &:nth-child(5) {
      width: 11%;
    }

    &:nth-child(6) {
      width: 16.5%;
    }

    &:nth-child(7) {
      width: 13.3%;
    }
    &:nth-child(8) {
      width: 8%;
    }
  }
}