$greenColor: #30bf99;

.ll-aqsz-outer {
  padding: 16px;
  height: 100%;
  display: flex;



  .ll-aqsz-content {
    background-color: white;
    padding: 16px;
    height: 100%;
    width: 100%;

    .ll-aqsz-firstFloor {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  .ll-aqsz-table {
    padding-top: 20px;
    height: calc(100% - 85px);

    .ll-aqsz-rank {
      display: flex;

      >div {
        //   background-color: #fafafa ;
        height: 40px;
        padding: 0 20px;
        // flex-shrink: 0;
        // display: flex;
        // align-items: center;
        line-height: 40px;
        border: #ebebeb 1px solid;
        border-left: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top: none;
        flex-shrink: 0;
      }

      .ll-aqsz-eventName {
        flex: 0.5;
        border-left: 1px solid #ebebeb;
      }

      .ll-aqsz-eventType {
        flex: 0.4;
      }

      .ll-aqsz-timeName {
        flex: 0.25;
        border-left: 1px solid #ebebeb;
      }

      .ll-aqsz-remark {
        flex: 0.65;
      }

      .ll-aqsz-userName {
        flex: 0.1;
        border-left: 1px solid #ebebeb;
      }

      .ll-aqsz-range {
        flex: 0.8;
      }

      .ll-aqsz-normal {
        flex: 0.17;
      }

      .ll-aqsz-org {
        flex: 0.3;
      }

      .ll-aqsz-controlTime {
        flex: 0.3;
      }

      .ll-aqsz-controlEvent {
        flex: 0.35;
      }

      .ll-aqsz-operation {
        flex: 0.13;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        >div {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-right: 10px;

        }

        >.ll-aqsz-bj:hover {
          color: $greenColor;

          svg {
            fill: $greenColor !important;
          }
        }

        >.ll-aqsz-sc:hover {
          color: #f89779;

          svg {
            fill: #f89779 !important;
          }
        }
      }
    }


  }

  .ll-paginationCTN {
    padding-top: 20px;

    >div {
      display: flex;
      align-items: center;
    }
  }

  .ant-btn-primary {
    background-color: $greenColor;
    border-color: $greenColor;
    display: flex;
    align-items: center;
  }
}

.ll-controlTimeModal {
  padding: 20px 20px 0 20px;

  .ant-input:hover,
  .ant-input:focus {
    border-color: #30bf99;
  }

  >div {
    padding-top: 20px;

    >span {
      padding: 0 10px;
    }
  }

  .ant-radio-wrapper:hover .ant-radio {
    border-color: #30bf99;
  }

  .ant-radio-inner::after {
    border-color: #30bf99;
  }

  .ant-radio:hover .ant-radio-inner {
    border-color: #30bf99;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: #30bf99;
  }

  .ant-radio-inner::after {
    background-color: #30bf99;
  }

  // .ant-radio-group {
  //     display: flex;
  //     align-items: center;
  // }
  .ant-radio-wrapper {
    margin: 0px;

    >span {
      padding-right: 0px;
    }
  }

  .ant-btn-primary {
    background-color: $greenColor;
    border-color: $greenColor;
  }

  .ant-btn-primary:hover {
    color: white !important;
  }


  .ant-btn:hover {
    color: $greenColor;
    border-color: $greenColor;
  }

  span.ant-picker-suffix,
  .ant-picker-clear {
    display: none !important;
  }

  .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
    background-color: $greenColor;
    border-color: $greenColor;
  }

  .ant-tree-checkbox-inner:hover {
    border-color: $greenColor !important;
  }

  .ant-tree-checkbox-checked:after {
    border: 1px solid $greenColor;
  }

  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after {
    background-color: #30bf99;
  }
}

.ll-addPersonModal {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >div {
    height: 100%;
    border: 1px solid #ebebeb;
  }

  .ll-modal-left {
    flex: 0.6;
    display: flex;

    .ant-input-search {
      border: none;
      border-bottom: 1px solid #ebebeb;
    }

    >div {
      width: 50%;
      height: 100%;
    }

    >.ll-left-org {
      border-right: 1px solid #ebebeb;
    }

    .ant-input-affix-wrapper-focused {
      // border-color: #30bf99;
      box-shadow: none;
    }
  }

  .ll-modal-right {
    flex: 0.3;
  }

  .ant-tabs>.ant-tabs-nav {
    height: 42px;
    margin: 0;
  }

  .ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;
  }

  .mj-lm-textCon {
    display: flex;
    padding: 0 10px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px dashed #e6e9eb;

    div {
      // flex: 1;
      font-size: 14px;
      color: #919499;

      &:last-child {
        color: #24b38c;
        text-align: right;
        cursor: pointer;
      }
    }
    div:nth-of-type(1) {
      width: 70%;
    }
    div:nth-of-type(2) {
      width: 30%;
    }
  }

  .mj-lm-seleCon {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    .mj-lm-loading{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .ant-spin-dot-item{
        background-color: #30bf99;
      }
    }
    .mj-lm-placesSele {
      padding: 0 12px;

      .mj-lm-place {
        display: flex;
        padding: 0 4px;
        height: 42px;
        line-height: 42px;
        border-bottom: 1px dashed #e6e9eb;
        overflow: hidden;
        white-space: nowrap;
        margin: 0px;
        
        .ant-checkbox-wrapper {
          display: flex;
          align-items: center;
        }

        .ant-checkbox-wrapper>:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 185px;
          display: inline-block;
        }

        .mj-lm-placeName {
          flex: 4;
          color: #494a4d;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .mj-lm-placeIcon {
          flex: 1;
          text-align: right;

          svg {
            width: 16px;
            height: 16px;
            fill: #aaaeb3;
            vertical-align: middle;
            cursor: pointer;
          }
        }
      }
    }
  }

  .ant-tabs-ink-bar {
    background-color: #30bf99;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #30bf99;
  }

  .ant-tabs-tab-btn:active {
    color: #30bf99;
  }

  .ant-tabs-tab:hover {
    color: #30bf99;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $greenColor;
    border-color: $greenColor;
  }

  .ant-checkbox-input:hover .ant-checkbox:hover .ant-checkbox-inner:hover {
    border-color: $greenColor !important;
  }

  .ant-checkbox-checked:after {
    border: 1px solid $greenColor;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner:after {
    background-color: #30bf99;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover {
    border-color: #30bf99;

  }

  .ant-checkbox-disabled {
    background-color: #f5f5f5 !important;
  }


  // .ant-input-affix-wrapper:hover {
  //   border-color: #30bf99;
  // }

  .ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #30bf99;
  }

  .ant-checkbox-disabled .ant-checkbox-inner {
    background-color: #f5f5f5 !important;

  }
}

.ll-modalBTNCTN {
  display: flex;
  justify-content: center;

  >button {
    margin-right: 20px;
  }

  .ant-btn:hover {
    color: #30bf99;
    border-color: #30bf99;
  }

  .ant-btn-primary:hover {
    color: white;
  }
}

.ll-aqsz-content-role {
  width: 170px;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
  height: 100%;

  .ll-roleItem {
    height: 40px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
  }

  .ll-roleItem:hover {
    color: $greenColor;
  }

  .ll-select {
    color: white;
    background-color: $greenColor;
  }

  .ll-select:hover {
    color: white;
  }

  .ll-roleItem:checked {
    color: white;
    background-color: $greenColor;
  }
}

.ps--active-x>.ps__rail-x {
  display: none;
}

// .ps__thumb-y{
//   display: none;
// }


.ll-paginationCTN {
  padding-top: 20px;

  >div {
    display: flex;
    align-items: center;
  }
}