.ll-calssSit {
    width: 100%;

    .ll-cs-tea {
        height: 170px;
        width: 100%;
        background: #fff;
        padding: 18px;
        margin-bottom: 20px;

        .ll-title {
            height: 20px;
            line-height: 20px;
            font-size: 16px;

        }

    }

    .ll-cs-content {
        height: calc(100% - 20px);
        width: 100%;
       
        .ll-content-bor {
            height: 100%;
            display: inline-block;
            vertical-align: top;
            position: relative;
            &:first-child {
                width: 34%;
                vertical-align: top;
            }
            &:last-child {
                width: 100%;
            }
        }

        .ll-bor-div {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // text-align: center;
            height:100%;
            padding: 26px 0;
            .icon {
                margin: 28px 0 8px 0;
                font-size: 44px;
                color: #ff3f3f
            }

            div {
                &:first-child {
                    color: #595959;
                }
            }
        }

        .ll-img-div {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            display: flex;
            justify-content: space-around;

            .ll-img-bor {
                color: #595959;
                border-radius: 4px;
                div {
                   &:first-child{
                    height: 32px;
                    line-height: 32px;
                   }
                   &:last-child{
                        height: 102px;
                        width: 70px;
                       
                   }
                }
                .xt-imgerror{
                  border-radius: 4px;
                }
               
            }
            .ll-yc-bor{
                .xt-imgerror{
                    border:1px solid #ff4d4f !important;
                    margin-left:'8px'
                }
            }
        }
    }

    .ll-total-content {
        height: calc(100% - 20px);
        width: 100%;

        .ll-total-bor {
            height: 100%;
            display: inline-block;
            &:first-child {
                width: 34%;
                vertical-align: top;
            }
            &:last-child {
                width: 66%;
            }
        }
    }
    .ll-zc{
        .icon{
            color: #14cc8f !important
        }
    }
}