/*
 * @Author: JC.Liu 
 * @Date: 2019-04-12 00:23:06 
 * @Last Modified by: yh
 * @Last Modified time: 2019-10-25 11:05:47
 * 直播播放器的样式
 */

//  模态框
.JC-shotmodal {
  .ant-modal-header {
    background: #273138;

    .ant-modal-title {
      color: #ffffff;
    }
  }

  .ant-modal-close {
    display: none !important;
  }

  .ant-modal-content {
    width: 600px;
  }

  .JC-shotmodal-img {
    width: 100%;
    height: 270px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .JC-shotmodal-type {
    margin: 20px 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 8px;
        border: 1px dashed #999;
        border-radius: 4px;
        margin: 0 7px 10px;
        cursor: pointer;
      }

      .JC-type-active {
        background: #14cc8f;
        border-color: #14cc8f;
        color: #ffffff;
      }
    }
  }

  .JC-shotmodal-content {
    margin-bottom: 20px;

    textarea {
      height: 100px !important;
      resize: none;
    }
  }

  .JC-shotmodal-footer {
    text-align: center;

    button {
      width: 100px;
      height: 40px;
      line-height: 40px;
    }

    button:nth-child(1) {
      margin-right: 40px;
      color: #ffffff;
      background: #14cc8f;
      border-color: #14cc8f;
    }

    button:nth-child(1):hover,
    button:nth-child(1):active,
    button:nth-child(1):visited,
    button:nth-child(1):focus {
      color: #ffffff;
      background: #14cc8f;
      border-color: #14cc8f;
    }

    button:nth-child(2) {
      color: #999999;
      border-color: #999999;
    }

    button:nth-child(2):hover,
    button:nth-child(2):active,
    button:nth-child(2):visited,
    button:nth-child(2):focus {
      border-color: #999999;
      color: #999999;
    }
  }
}

// 机器人
.JC-roboot {
  width: 98px;
  height: 125px;
  position: absolute;
  bottom: 70px;
  // right: 70px;
  right: 55px;
  z-index: 1000;
  .ant-tooltip {
    width: 140px !important;
    left: 0px !important;
    top: -80px !important;
  }

  .JC-roboot-tip p {
    margin: 0 !important
  }
}
.yh-roboot{
  .ant-tooltip{
    // min-width: 290px !important;
    min-width: 195px !important;
    left: initial !important;
    // right: 0px !important;
    left: -50px !important;
    top: -110px !important;
  // outline: 1px solid red;
  // background: red;
  }
  .lean-robot-contentBox{
    width: 100%
  }
  .img{
    position: relative;
    z-index: 1000;
  }
  .ant-tooltip-inner{
    padding: 0;
  }
}

.JC-roboot-click {
  position: absolute;
  bottom: 70px;
  right: -74px;
  transform: rotate(270deg);
  cursor: pointer;
  z-index: 1000;
}