.logo{
  padding: 40px 0;
  img{
    display: block;
    margin: 0 auto;
  }
  p{
    text-align: center;
    margin-top: 10px;
    font-size:20px;
    font-family:Segoe UI;
    font-weight:600;
    line-height:27px;
    color:rgba(102,102,102,1);
    opacity:1;
  }
}