.xm-zxxk{
  width: 100%;
  height: 100%;
  background-color: #1f2128;
  overflow: auto;
  ul, ol, li {
    list-style: none;
  }
  padding-top: 15px;
  .xm-videobox{
    margin: 0 auto;
    // height: 655px;
    overflow: hidden;
    padding: 0 20px;
    // background-color: #1f2128;
    display: flex;
    
    justify-content: space-between;
    .xm-videobox-left{
      min-width: 830px;
      flex-grow:1;
      margin-right: 30px;
      height: 100%;
      overflow: hidden;
      background-color: #1f2128;
      .xm-videobox-left-video{
        // height: 496px;
        position: relative;
        width: 100%;
        &:hover {
          .xm-videobox-left-video-top, .xm-videobox-left-video-bottom{
            opacity: 1;
          }
        }
        .xm-videobox-left-video-top{
          display: flex;
          opacity: 0;
          transition: .8s;
          height: 41px;
          width:100%;
          justify-content: space-between;
          align-items: center;
          background-color: rgba($color: #2a2c33, $alpha: .3);
          position: absolute;
          left: 0;
          top: 0;
          z-index: 999;
          .ant-select.ant-select-borderless.ant-select-single.ant-select-show-arrow {
            background-color: #fff;
          }
          .xm-videobox-left-video-top-wj{
            margin-right: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #fff;
          }
        }
        .xm-videobox-left-video-bottom{
          transition: .8s;
          opacity: 0;
          height: 45px;
          width:100%;
          // margin-bottom: -45px;
          background-color: #2a2c33;
          position: absolute;
          left: 0;
          bottom: -4px;
          // .xm-videobox-left-video-bottom-progress{
          //   height: 6px;
          // }
          .xm-videobox-left-video-bottom-progress{
            display: flex;
            color: #d4d5d6;
            font-size: 13px;
            align-items: center;
            font-weight: bold;
            background-color: #2a2c33;
            li:nth-of-type(1){
              margin-left: 2%;
            }
            li:nth-of-type(2){
              // background-color: red;
              margin-left: 4%;
            }
            .xm-videobox-left-video-bottom-progress-screen{
              margin-left: 70%;
              width: 74px;
              display: flex;
              justify-content: space-between;
              span{
                cursor: pointer;
              }
              span.active{
                color: #40a389;
              }
            }
            li:nth-of-type(4){
              // background-color: red;
              margin-left: 3%;
            }
            li:nth-of-type(5){
              // background-color: red;
              margin-left: 1.5%;
            }
          }
        }
      }
      .xm-videobox-left-course{
        height: 160px;
        background-color: #1f2128;
        padding-top: 15px;
        .xm-videobox-left-course-title{
          font-size: 22px;
          // font-weight: bold;
          line-height: 22px;
          // margin-top: 16px;
          margin-bottom: 8px;
          color: #dfdfe0;
        }
        .xm-videobox-left-course-class{
          color: #8f9094;
          margin-bottom: 10px;
          li{
            height: 18px;
            display: flex;
            align-items: center;
            span{
              margin-left: 9px;
            }
          }
          li+li{
            margin-left: 30px;
          }
          height: 18px;
          display: flex;
        }
        .swiper-container {
          height: 84px;
          // background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .swiper-wrapper{
            min-width: 760px;
            flex: 1;
            // padding: 0 20px;
              height: 60px;
              position: relative;
              overflow: hidden;
            .swiper-wrapper-box{
              position: absolute;
              // left: -20px;
              // width: 760px;
              height: 60px;
              transition: '1s';
              display: flex;
              justify-content: space-between;
              .swiper-slide{
                // &.active{
                //   background-color: #2d645a;
                // }
                min-width: 250px;
                cursor: pointer;
                margin-right: 5px;
                height: 60px;
                padding-left: 16px;
                padding-top: 15px;
                background-color: #2a2c33;
                p{
                  height: 12px;
                  font-size: 12px;
                  margin: 0;
                }
                p:nth-of-type(1) {
                  color: #e0e6e4;
                }
                p:nth-of-type(2) {
                  color: #839d97;
                  margin-top: 10px;
                }
              }
            }
            
          }
          .swiper-button-prev, .swiper-button-next{
            height: 60px;
            width: 28px;
            background-color: #2a2c33;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: #959699;
            font-weight: bold;
            cursor: pointer;
          }
          .swiper-button-prev{
            margin-right: 20px;
          }
          .swiper-button-next{
            margin-left: 20px;
          }
        } 
      }
    }
    .xm-videobox-right{
      width: 300px;
      height: 100%;
      margin-right: 30px;

      background-color: #2a2c33;
      .ant-picker.xm-videobox-right-input.ant-picker-borderless{
        height: 40px;
        .anticon.anticon-close-circle{
          background-color: #2a2c33;
          border: none;
          outline: none;
        }
        .ant-picker-input input {
          color: #bdbebf;
          padding: 0 10px;
        }
        svg{
          fill: #aaabad;
          width: 17px;
          height: 17px;
          position: relative;
          left: -10px
          // margin-left: -10px;
        }
      }
      .xm-videobox-right-tree{
        background-color: #2a2c33;
        color: #bdbebf;
        margin-left: 20px;
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open.ant-tree-node-selected{
          background-color: #24252b;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close.ant-tree-node-selected{
          background-color: #24252b;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal.ant-tree-node-selected{
          background-color: #24252b;
          color: #33ffc9;
          .controltree{
            background-color: #31eab9!important;
          }
        }
      }
      .xm-videobox-right-tabs{
        height: 42px;
        display: flex;
        margin-bottom: 18px;
        border-top: 1px solid #35373d;
        border-bottom: 1px solid #35373d;
        li{
          height: 42px;
          width: 33.33%;
          cursor: pointer;
          &:hover, &.active{
            span{
              color: #55dbb7;
            }
            p{
              background-color: #55dbb7;
            }
          }
          text-align: center;
          padding-top: 12px;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          span{
            font-size: 14px;
            color: #e0e0e0;
          }
          p{
            width: 20px;
            height: 3px;
            margin: auto;
            margin-top: 5px;
            background-color: transparent;
            // background-color: #55dbb7;
          }
        }
        // height: 40px;
        // border-top: 1px solid #35373d;
        // border-bottom: 1px solid #35373d;
        // .ant-tabs-tab:hover{
        //   color: #4cd9b3;
        // }
        // .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        //   color: #4cd9b3;
        // }
      }
      // .ant-tree-switcher-noop{
      //   display: none;
      // }
      // .xm-videobox-right-date{
      //   height: 40px;
      //   display: flex;
      //   align-items: center;
      //   padding: 0 20px;
      //   justify-content: space-between;
      //   font-size: 12px;
      //   color: #bdbebf;
      //   span:nth-of-type(2){
      //     cursor: pointer;
      //   }
      // }
    }
  }
  .xm-recordbox{
    height: 829px;
    // background-color: red;
    // width: 1165px;
    margin: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-left: 1px solid #e6ebe9;
    border-right: 1px solid #e6ebe9;
    padding: 20px 18px 40px;
  }
}