

@import '../../css/common.less';
.header-content {
    width: 100%;
    height: 80px;
    background-color: #3e9ff8 !important;
}

.header{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e9ff8;
    &-logo {
        width: 90px;
        height: 60px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
    &-right {
        height: 100%;
        &-item {
            display: inline-block;
            height: 80px;
            line-height: 80px;
            padding: 0 15px;
            font-weight: bold;
            color: #333;
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
        &-item-active {
            background-color: #000;
            color: #fff;
        }
        &-action {
            display: inline-block;
            margin-left: 20px;
            &-button {
                border: none !important;
                color: #333 !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                font-weight: bold !important;
                &:hover {
                    color: #fff !important;
                }
            }
        }
    }
}

