.mj-ap-addPerson {
  .ant-modal-content {
    border-radius: 4px;
  }
  .ant-modal-header {
    padding: 9px 20px;
    border-radius: 4px;
  }
  .ant-modal-close-x {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .ant-modal-title {
    font-size: 14px;
  }
  .ant-modal-body {
    height: 640px;
    padding: 16px 50px 20px;
  }
}
.mj-ap-content {
}
.mj-ap-topCon {
  display: flex;
  align-items: flex-end;
  label {
    flex: 1;
    font-size: 14px;
    color: #797c80;
  }
  div {
    flex: 1;
    text-align: right;
    .ant-input {
      width: 220px;
      height: 34px;
      border-radius: 4px;
      &:focus,
      &-focused {
        border-color: #47c6a4;
        box-shadow: 0 0 0 2px #47c6a433;
      }
    }
    .ant-btn {
      margin-left: 10px;
      width: 80px;
      height: 34px;
      &,
      &:hover,
      &:focus {
        background-color: #47c6a4;
        color: #fff;
        border-color: #47c6a4;
      }
    }
  }
}
.mj-ap-tableCon {
  margin-top: 16px;
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 10px 16px;
  }
  .ant-table-thead > tr > th {
    background-color: #f7f9fa;
  }
  .ant-table-pagination {
    .ant-pagination-total-text {
      flex: 1;
      color: #797c80;
      font-size: 14px;
    }
  }
  .ant-table-pagination.ant-pagination {
    margin: 20px 0;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .ant-pagination-item-active {
    background: #47c6a4;
    border-color: #47c6a4;
    a {
      color: #fff;
    }
  }
  .ant-pagination-item:focus-visible,
  .ant-pagination-item:hover,
  .ant-pagination-prev:focus-visible .ant-pagination-item-link,
  .ant-pagination-next:focus-visible .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: #47c6a4;
    color: #47c6a4;
    a  {
      color: #fff;
    }
  }
  .ant-pagination-item:hover{
    a{
      color: #47c6a4;
    }
  }.ant-pagination-item-active:hover a{
      color: #fff;
  }
}
.mj-ap-btnCon {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 20px 0 0;
  text-align: center;
  .ant-btn {
    width: 80px;
    height: 34px;
    border-radius: 4px;
    &:first-child {
      margin-right: 16px;
    }
    &:first-child,
    &:first-child:hover,
    &:first-child:focus {
      background-color: #47c6a4;
      color: #fff;
      border-color: #47c6a4;
    }
    &:last-child:hover,
    &:last-child:focus {
      border-color: #47c6a4;
      color: #47c6a4;
    }
  }
}
