.mj-ryap-content {
  padding: 16px;
  width: 100%;
  height: 100%;
  // background-color: #fff;
}
.mj-ryap-topCon {
  display: flex;
  padding: 0 16px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #edf0f2;
  background-color: #fff;
  > div {
    flex: 2;
    font-size: 16px;
    color: #494a4d;
  }
  .mj-ryap-seleCon {
    flex: 20;
    color: #494a4d;
    font-size: 14px;
    .ant-radio-checked .ant-radio-inner {
      border-color: #30bf99;
    }
    .ant-radio-inner::after {
      background-color: #30bf99;
    }
    .mj-ryap-toolTxt {
      position: relative;
      width: 20px;
      height: 20px;
      display: inline-block;
      .mj-ryap-toolTip {
        display: none;
        // display: block;
        position: absolute;
        top: -27px;
        left: -184px;
        padding: 2px 10px;
        border-radius: 4px;
        width: 384px;
        color: #606365;
        background-color: #fff;
        box-shadow: 0 0 6px 0 #ccc;
        span {
          position: absolute;
          bottom: -4px;
          left: 190px;
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #fff;
        }
      }
    }
    .mj-ryap-toolTxt:hover .mj-ryap-toolTip {
      display: block;
    }
    svg {
      margin-left: 6px;
      width: 12px;
      height: 12px;
    }
  }
}
.mj-ryap-tipInfo .ant-tooltip-inner {
  width: 380px;
  color: #606365;
}

.mj-ryap-listContent {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #fff;
}
.mj-ryap-roleList {
  display: inline-block;
  width: 140px;
  height: 100%;
  padding: 15px;
  overflow: auto;
  border-right: 1px solid #edf0f2;
  vertical-align: top;
  .mj-ryap-role {
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mj-ryap-roleHigh {
    color: #fff;
    background-color: #47c6a4;
  }
}
.mj-ryap-rightCon {
  display: inline-block;
  width: calc(100% - 140px);
  padding: 15px;
  vertical-align: top;
}
.mj-ryap-title {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  label {
    font-size: 16px;
    font-weight: bold;
  }
  .ant-btn {
    position: absolute;
    right: 0;
    width: 100px;
    height: 34px;
    color: #fff;
    background-color: #47c6a4;
    svg {
      margin-right: 4px;
      width: 16px;
      height: 16px;
      fill: #fff;
      vertical-align: middle;
    }
  }
  .ant-btn:hover,
  .ant-btn:focus {
    color: #fff;
    background-color: #47c6a4;
    border-color: #47c6a4;
  }
}

.mj-ryap-tableCon {
  margin-top: 16px;
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 10px 20px;
  }
  .ant-table-thead > tr > th {
    background-color: #f7f9fa;
  }
  .ant-table-pagination {
    .ant-pagination-total-text {
      flex: 1;
      color: #797c80;
      font-size: 14px;
    }
  }
  .ant-table-pagination.ant-pagination {
    margin: 20px 0;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .ant-pagination-item-active {
    background: #47c6a4;
    border-color: #47c6a4;
    a {
      color: #fff;
    }
  }
  .ant-pagination-item:focus-visible,
  .ant-pagination-item:hover,
  .ant-pagination-prev:focus-visible .ant-pagination-item-link,
  .ant-pagination-next:focus-visible .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: #47c6a4;
    color: #47c6a4;
    a {
      color: #fff;
    }
  }
  .ant-pagination-item:hover {
    a {
      color: #47c6a4;
    }
  }
  .ant-pagination-item-active:hover a {
    color: #fff;
  }
}
.mj-ryap-tableBtn {
  display: flex;
  div {
    flex: 1;
    color: #797c80;
    font-size: 14px;
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  svg {
    width: 18px;
    height: 18px;
    fill: #b6babf;
    vertical-align: middle;
  }
}
.mj-ryap-btnHigh:hover {
  color: #24b38c;
  svg {
    fill: #24b38c;
  }
}
.mj-ryap-btnDele:hover {
  color: #f0873c;
  svg {
    fill: #f0873c;
  }
}
