/*
 * @Author: MinJ 
 * @Date: 2020-01-21 13:50:38
 * @Last Modified by: MinJ
 * @Last Modified time: 2020-08-17 15:13:53
 * 听评课V2.2——创建评课任务-选择课程表格
 */
.mj-at-container {
  padding: 16px;
  width: 100%;
  height: calc(100% - 40px);
}
.mj-at-title {
  // margin-top: 10px;
  padding: 0 16px;
  height: 54px;
  line-height: 54px;
  width: 100%;
  background-color: #fff;
  // border-top-left-radius: 6px;
  // border-top-right-radius: 6px;
  // span:nth-child(1){
  //   display: inline-block;
  //   margin-left: 20px;
  //   width: 4px;
  //   height: 18px;
  //   background-color: #595959;
  //   vertical-align: middle;
  // }
  span:nth-child(2) {
    // margin-left: 10px;
    font-size: 18px;
    color: #333333;
    vertical-align: middle;
  }
}
.mj-at-content {
  margin-top: 1px;
  width: 100%;
  height: calc(100% - 54px);
  background-color: #fff;
}

.mj-so-content {
  padding: 4px 20px;
  height: 100%;
  color: #595959;
  font-size: 14px;
  // 任务类型
  .mj-so-taskType {
    height: 40px;
    line-height: 40px;
    .ant-radio-group {
      margin-left: 12px;
    }
    .ant-radio-checked .ant-radio-inner {
      border-color: #47c6a4;
    }
    .ant-radio-inner:after {
      background-color: #47c6a4;
    }
  }
  // 任务名称
  .mj-so-taskNameCon {
    height: 64px;
    line-height: 64px;
    .mj-so-taskName {
      display: inline-block;
      .ant-input {
        display: inline-block;
        margin-left: 12px;
        height: 40px;
        width: 300px;
      }
    }
    .mj-so-taskDate {
      display: inline-block;
      margin-left: 100px;
      .ant-calendar-picker {
        margin-left: 12px;
      }
      .ant-input {
        height: 40px;
        width: 140px;
      }
    }
  }

  // 课程名单
  .mj-so-taskCourseTxt {
    margin: 16px 0 0 0;
    .mj-so-notNew {
      width: calc(100% - 184px);
      display: inline-block;
      .mj-so-grade {
        font-size: 12px;
        color: #acb5bf;
      }
      .mj-so-blue {
        font-size: 12px;
        color: #59a6ee;
      }
      div {
        float: right;
        .ant-btn {
          width: 120px;
          height: 36px;
          // line-height: 36px;
          color: #fff;
        }
        .mj-so-seleCourseTop {
          background-color: #59a6ee;
        }
        .mj-so-leadInTop {
          margin-left: 20px;
          background-color: #5acc9b;
        }
      }
    }
  }
  .mj-so-taskCourseCon {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 280px;
    background-color: #eef6fd;
    align-items: center;
    justify-content: center;
    .ant-btn {
      width: 120px;
      height: 36px;
      color: #fff;
      border-radius: 4px;
    }
    .mj-so-seleCourse {
      background-color: #59a6ee;
    }
    .mj-so-leadIn {
      margin-left: 20px;
      background-color: #5acc9b;
    }
  }

  // 步骤
  .mj-so-stepBtn {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    .ant-btn {
      width: 90px;
      height: 36px;
      border-radius: 4px;
    }
    .mj-so-next {
      margin-left: 20px;
      background-color: #47c6a4;
      color: #fff;
    }
    .mj-so-cancel {
      color: #595959;
      border-color: #dcdcdc;
    }
  }
}

// 弹框
.mj-so-modal {
  .ant-modal {
    width: 390px !important;
    height: 328px;
  }
  .ant-modal-header {
    .ant-modal-title {
      text-align: left;
    }
  }
  .ant-modal-footer {
    text-align: center;
    .ant-btn {
      position: relative;
      width: 90px;
      height: 36px;
    }
    .ant-btn:first-child {
      left: 130px;
    }
    .ant-btn:last-child {
      margin-left: 40px;
      right: 130px;
      background-color: #47c6a4;
      border-color: #47c6a4;
    }
  }
  .mj-so-modalTxt {
    font-size: 14px;
    color: #4c4c4c;
  }
  .mj-so-leadInLink {
    margin: 16px 0 16px 14px;
    svg {
      width: 20px;
      height: 20px;
      fill: #47c6a4;
      vertical-align: middle;
    }
    a {
      margin-left: 10px;
      text-decoration: underline;
      color: #47c6a4;
    }
  }
  .mj-so-seleFile {
    .ant-input {
      display: inline-block;
      width: 200px;
      height: 36px;
      border-radius: 4px;
    }
    div {
      position: relative;
      display: inline-block;
      margin-left: 8px;
      width: 90px;
      height: 36px;
      vertical-align: top;
      .mj-so-file {
        position: absolute;
        top: 0;
        left: 0;
        // margin-left: 8px;
        width: 90px;
        height: 36px;
        opacity: 0;
      }
      .ant-btn {
        display: inline-block;
        width: 90px;
        height: 36px;
        background-color: #f5f5f5;
      }
    }
  }
}

.mj-so-errorModal {
  .ant-modal-title {
    text-align: center;
  }
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-body {
    text-align: center;
    img {
      margin-top: 20px;
      height: 130px;
      // width: 130px;
    }
    p {
      margin-top: 10px;
      color: #595959;
      font-size: 16px;
    }
    div {
      .icon {
        height: 20px;
        width: 20px;
      }
      a {
        margin-left: 10px;
        text-decoration: underline;
      }
    }
  }
}
