/*
 * @Author: MinJ 
 * @Date: 2020-01-21 13:50:38
 * @Last Modified by: MinJ
 * @Last Modified time: 2020-07-30 10:51:11
 * 听评课V2.2——创建评课任务-选择课程表格
 */
.mj-st-stepTwoCon {
  // margin-top: 2px;
  padding: 0 20px 20px;
  height: 100%;
  // 标题
  .mj-st-titleCon {
    position: relative;
    height: 50px;
    line-height: 50px;
    color: #595959;
    .ant-btn {
      position: absolute;
      right: 0;
      top: 12px;
      width: 120px;
      height: 36px;
      background-color: #47c6a4;
      border-color: #47c6a4;
      border-radius: 4px;
    }
  }

  // 内容1
  .mj-st-seleBox {
    height: 280px;
    line-height: 280px;
    width: 100%;
    background-color: #eef6fd;
    text-align: center;
    .ant-btn {
      width: 120px;
      height: 36px;
      // line-height: 36px;
      border-radius: 4px;
      background-color: #47c6a4;
      border-color: #47c6a4;
    }
  }

  // 步骤按钮
  .mj-st-stepBtn {
    margin: 20px 0;
    text-align: center;
    .ant-btn {
      width: 90px;
      height: 36px;
      // line-height: 36px;
      border-radius: 4px;
    }
    .mj-st-pre {
      margin-right: 50px;
    }
    .mj-st-submit {
      color: #fff;
      background-color: #47c6a4;
      border-color: #47c6a4;
    }
    .mj-st-submitNo {
      color: #acb5bf;
      background-color: #ebf7ff;
    }
  }
}

// 表格
.mj-st-stepTwoCon {
  .mj-st-tableHeaderCon {
    display: flex;
    margin-top: 10px;
    height: 51px;
    line-height: 50px;
    background-color: #e3e6e9;
    color: #4d4d4d;
    border: 1px solid #e6ebe9 !important;
    div {
      flex: 1;
      text-align: center;
    }
  }
}
.mj-st-tableCon {
  display: flex;
  height: 42px;
  line-height: 42px;
  color: #4c4c4c;
  border: 1px solid #e6ebe9;
  border-top: unset;
  > div {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e6ebe9;
  }
  > div:last-child {
    border-right: 0;
  }
  .ant-input-number {
    width: 100px;
    // height: 24px;
    // line-height: 24px;
  }
}
