.body {
  overflow: hidden;
}

.secondFloor-item {
  margin-right: 20px;
}

.firstPage-tableCTN {
  margin-top: 30px;
  height: calc(100% - 110px);

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 10px;
    height: 40px;
    border-right: 1px solid #ebebeb;
  }
  .textCenter{
    text-align: center;
    border-right: none!important;
  }
  .ant-table{
    border: 1px solid #ebebeb;
    border-bottom: none;
  }
}

.firstPage-SecondFloor-control {
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ll-disaster-right {
  display: flex;
}

.operationItem {
  margin-right: 20px;
}

.operationItem .icon,
.operationItem-del .icon {
  fill: #a6a6a6;
  width: 18px;
  height: 18px;
}

.operationItem:hover {
  cursor: pointer;

  svg {
    fill: #30bf99 !important;
  }
}

.operationItem-del:hover {
  cursor: pointer;

  svg {
    fill: #f89779 !important;
  }
}

.operationItem .icon:hover {
  color: #59a6ee;
}

.item-createTask {
  /* float: right; */
  margin-left: 20px;
}

/* 
.secondFloor-searchItem {
  margin-left: 20px;
} */

.secondFloor-searchItem .ant-btn-primary {
  background-color: #30bf99;
  border: 1px solid #30bf99;
  display: flex;
  align-items: center;
}

.paginationCoutainer {
  float: right;
  margin-top: 10px;
}

.item-createTask .ant-btn-primary {
  background-color: #30bf99;
  border: 1px solid #30bf99;
  display: flex;
  align-items: center;
}

/* .item-createTask .ant-btn-primary:hover {
  background-color: rgb(253, 201, 112);
} */

.title-line {
  width: 4px;
  height: 18px;
  background-color: #595959;
  margin-right: 12px;
  display: inline-block;
}

.title-name {
  display: inline-block;
  margin-bottom: 20px;
}

.firstPage-Header {
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: flex-end;
}

.llei-btnNone .ant-btn:nth-child(1) {
  display: none;
}

.pagination-text {
  display: inline-block;
  margin-top: 10px;
}

.cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 限制在一个块元素显示的文本的行数 */
  -webkit-box-orient: vertical;
  /* 垂直排列 */
  word-break: break-all;
  /* 内容自动换行 */
}

.paginationCoutainer a {
  background-color: #e6ebee;
  height: 32px;
  text-align: 32px;
}

.paginationCoutainer .ant-pagination-item-active a {
  background-color: #21a8ee;
  color: white;
  border: none;
  height: 32px;
}

.paginationCoutainer .ant-pagination-item {
  border: none;
}

.paginationCoutainer .ant-pagination-item-link {
  background-color: #e6ebee;
  border: none;
  border-radius: 0%;
}

.dark-row {
  background-color: rgb(245, 248, 250);
}

.ant-table-thead tr th {
  background-color: #fafafa
}

.mj-dp-semester {
  flex: 1;
  padding-top: 9px;

  .ant-select {
    width: 190px;
  }

  .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    box-shadow: none;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
  }

  .ant-select-arrow {
    top: 35%;

    svg {
      width: 20px;
      height: 20px;
      fill: #b6bfbc;
    }
  }
}