// note: 这里写强制转换为 webp 格式的图片

html.webp-bg body {
  background:
    url(https://gzhcos.qq.com/codm/common/top-bg.webp) 0 0/100vw 0.77rem no-repeat,
    url(https://gzhcos.qq.com/codm/common/body-bg.webp) 0 0.77rem/100vw calc(100vh - 0.77rem) no-repeat !important;
}

html.webp-bg .weapon-ul .weapon-li {
  background: url(https://gzhcos.qq.com/codm/walkthrough/wq-bg.webp) no-repeat center / cover !important;
}

// html.webp-bg .home-bd .tit-box .change {
//   background: url(https://gzhcos.qq.com/codm/home/change.webp) no-repeat center / cover !important;
// }

html.webp-bg .bd-ul .bd-li {
  background: url(https://gzhcos.qq.com/codm/home/bd-li.webp) no-repeat 50% / cover !important;
}

html.webp-bg .hot-content .content-left .hotweapon-ul.weapon-li {
  background: url(https://gzhcos.qq.com/codm/walkthrough/wq-bg2.webp) no-repeat center / cover !important;
}

html.webp-bg .central-dtli .dt-xx i {
  background: url(https://gzhcos.qq.com/codm/central/xiaoxi.webp) no-repeat center/cover !important;
}

html.webp-bg .central-dtli .dt-dz i {
  background: url(https://gzhcos.qq.com/codm/central/zhan.webp) no-repeat center/cover !important;
}

html.webp-bg .central-dtli .dt-undz i {
  background: url(https://gzhcos.qq.com/codm/central/onzhan.webp) no-repeat center/cover !important;
}

html.webp-bg .area-right .change {
  background: url(https://gzhcos.qq.com/codm/home/change.webp) no-repeat center / cover !important;
}

html.webp-bg li.mission-item .index-task-receive-btn {
  background: url(https://gzhcos.qq.com/codm/found/dhfl-btn.webp) no-repeat center / cover !important;
}

html.webp-bg .welfare-page .index-main-point-balance {
  background: url(https://gzhcos.qq.com/codm/found/jf-box.webp) no-repeat center / cover !important;
}

html.webp-bg .gold-jfbox span {
  background: url(https://gzhcos.qq.com/codm/found/dhfl-btn.webp) no-repeat center / cover !important;
}

html.webp-bg .dz-li .dz-conbox {
  background: url(https://gzhcos.qq.com/codm/central/pl-con.webp) no-repeat center / cover !important;
}
