.xgplayer-skin-default .xgplayer-progress-played {
    background-image: linear-gradient(-90deg, #59A6EE, #59A6EE)
}

.xgplayer-skin-default .xgplayer-progress {
    left: 0;
    right: 0;
}

.xgplayer-skin-default .xgplayer-drag {
    background-color: #59A6EE;
}

.xgplayer {
    position: relative;
}

.mzc-videoBox {
    position: relative;
}

.mzc-videoloading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.mzc-videoloading .ant-spin-dot-item {
    background-color: #59A6EE;
}

.mzc-videoBox-noData {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}


/* .mzc-videoTopMask-select .ant-select-selection {
    background-color: transparent;
    color: #fff;
    width: 110px;
} */

.mzc-videoseleMask {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 102;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 5px;
}

.mzc-videoselebox {
    width: 110px;
    height: 200px;
    padding-top: 5px;
}

.mzc-videoTopMask-wj {
    color: #fff;
    height: 40px;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.mzc-videoTopMask-select .ant-select-selection {
    background-color: transparent;
    color: #fff;
    border-color: transparent;
}

.mzc-videoseleMask-box {
    width: 110px;
    height: 200px;
    padding-top: 5px;
}

.mzc-videoTopMask-select .ant-select-arrow {
    /* padding-top: 3px;
    display: block; */
    top: 19px;
}

.mzc-videoTopMask-select .ant-select-arrow span {
    display: block;
    height: 0;
    width: 0;
    border: 4.5px solid transparent;
    border-top: 4.5px solid #fff;
}

.mzc-videoTopMask-select .ant-select-selector {
    background-color: transparent!important;
    border: none!important;
}

.mzc-v {
    background-color: #000;
    position: relative;
}

.mzc-v-loading {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.mzc-v-loading .ant-spin-dot-item {
    background-color: #59A6EE;
}

.mzc-v-cantPlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

.mzc-videoTwo {
    display: flex;
    align-items: center;
    background-color: #000;
}

.mzc-videoMulti {
    display: flex;
}