.mzc-ckbox{
  position: relative;
}
.mzc-ckbox .mzc-ckVideo{
  width: 100%;
  height: 100%;
}
.mzc-ckbox .mzc-ckNoData{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #30bf99;
}
.mzc-ckbox .mzc-ckScreenShot{
  position: absolute;
  right: 0;
  top: 0;
}
