.fyl-lspk {
  height: 100%;
}
.fyl-bxqpklj {
  height: 240px;
  width: 100%;
  height: 130px;
  background-color: #ffffff;
}
.fyl-bxqbiaoti {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  // padding-top: 20px;
  // margin-left: 20px;
  font-size: 16px;
  // font-weight: bold;
  color: #333333;
}
.fyl-bxqdata {
  display: flex;
  .mj-mt-txtLine {
    flex: 1;
    .mj-mt-numCon {
      display: inline-block;
      padding-left: 30%;
      width: calc(100% - 1px);
      vertical-align: text-top;
      span:first-child {
        font-size: 18px;
        font-weight: bold;
        color: #303233;
      }
      span:last-child {
        font-size: 14px;
        color: #919996;
      }
    }
    .mj-mt-txt {
      display: inline-block;
      padding-left: 30%;
      width: calc(100% - 1px);
      font-size: 14px;
      color: #797c80;
    }
    .mj-mt-line {
      display: inline-block;
      width: 1px;
      height: 30px;
      background-color: #e6e7eb;
      vertical-align: middle;
    }
  }
}
.fyl-wanchenglv {
  display: inline-block;
  height: 180px;
  width: 200px;
  margin-left: 10%;
  canvas:hover {
    cursor: default;
  }
}
.fyl-datarenwu {
  display: inline-block;
  margin-left: 6%;
  line-height: 200px;
  vertical-align: bottom;
  .icon {
    cursor: default !important;
  }
}
.fyl-rwlb {
  height: calc(100% - 146px);
  width: 100%;
  background-color: #ffffff;
  margin-top: 16px;
  // padding-bottom: 20px;
}
