.gwj-queryConditions{
    height: 82px;
    line-height: 82px;
    padding: 0 16px;
    background-color: #ffffff;
    ul{
        margin-bottom: 0;
        li{
            display: inline-block;
            width: 18%;
            &:last-child{
                width: 10%;
                text-align: right;
            }
            .gwj-input {
                width: 70%;
            }
            .ant-btn-primary{
              background-color: #40b394;
              border-color: #40b394;
              border-radius: 4px;
            }
        }
    }
}