.gwj-seleCourse {
  padding: 16px;
  height: calc(100% - 40px);
  // margin-top: 10px;
  // background-color: #fff;
  .gwj-seleCourse-title {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    background-color: #fff;
    // border-bottom: 1px solid #ededed;
    position: relative;
    .gwj-title-span {
      // height: 18px;
      // padding-left: 10px;
      // border-left: 5px solid #595959;
      // color: #595959;
      font-size: 18px;
      // font-weight: 700;
    }
    .gwj-seleCourse-btn {
      position: absolute;
      top: 14px;
      right: 20px;
    }
  }

  .gwj-seleCourse-table {
    height: calc(100% - 122px);
    padding: 0 16px 20px;
    background-color: #fff;
  }
  .gwj-noData {
    height: 300px;
    text-align: center;
    img {
      width: 150px;
      height: 150px;
      margin-top: 65px;
      margin-bottom: 10px;
    }
    p {
      color: #595959;
    }
  }
  .gwj-seleCourse-table-fixedHeight {
    height: 100%;
    .gwj-ul {
      margin-bottom: 0;
      height: 40px;
      line-height: 40px;
      background-color: #f7f9fa;
      border: 1px solid #e6ebe9;
      li {
        padding: 0px 10px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left: 1px solid #e6ebe9;
        &:nth-child(1) {
          width: 6%;
          border-left: none;
        }
        &:nth-child(2) {
          width: 14%;
        }
        &:nth-child(3) {
          width: 16%;
        }
        &:nth-child(4) {
          width: 8%;
        }
        &:nth-child(5) {
          width: 8%;
        }
        &:nth-child(6) {
          width: 6%;
        }
        &:nth-child(7) {
          width: 16%;
        }
        &:nth-child(8) {
          width: 6%;
          text-align: center;
        }
        &:nth-child(9) {
          width: 10%;
          text-align: center;
        }
        &:nth-child(10) {
          width: 10%;
          text-align: center;
        }
      }
    }
  }
  .gwj-ul-c {
    border-top: none;
    border-bottom: 1px solid #e1ebef;
    background-color: #fff;
    &:nth-child(even) {
      background-color: #fff;
    }
    &:nth-child(odd) {
      background-color: #fff;
    }
  }
  // .gwj-ul-c:hover {
  //   background-color: #e6f7ff;
  // }
}
.gwj-pagination {
  height: 55px !important;
  padding: 15px 0 0 0 !important;
  .ant-pagination {
    height: 40px;
    margin-top: 0;
    text-align: right;
    li {
      height: 40px;
      line-height: 40px;
      border-radius: 0;
      border: 0;
      &:nth-child(1) {
        float: left;
      }
      &:not(.ant-pagination-total-text) {
        width: 40px;
        background-color: #e7ebee;
        a {
          color: #9fa7ac;
        }
      }
    }
    .ant-pagination-item-link {
      border-radius: 0;
      border: 0;
    }
    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      background-color: #e7ebee;
      color: #9fa7ac;
    }
    .ant-pagination-item-active.ant-pagination-item {
      background-color: #59a6ee !important;
      a {
        color: #fff !important;
      }
    }
  }
}
.gwj-noEva {
  color: #b8b8b8;
}
.gwj-choose {
  cursor: pointer;
  color: #59a6ee;
}
.gwj-modal {
  .ant-modal-header {
    text-align: center;
  }
  .ant-modal-body {
    .ant-select {
      &:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
  .ant-modal-footer {
    .ant-btn {
      position: relative;
      &:nth-child(1) {
        top: 0;
        right: calc(50% - 145px);
      }
      &:nth-child(2) {
        top: 0;
        right: 50%;
      }
    }
  }
}
