// @primary-color:red;
@primary-color    : #409fff; // 全局主题色(覆盖antdvue默认主题色)
@link-color       : #409fff; // 链接色（覆盖antdvue）
@font-color       : #494B4D;
@theme-hover-color: #409fff;

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

/* a标签 */
a {
  color: @primary-color;
}

.themeBtn {
  color       : #fff;
  background  : @primary-color;
  border-color: @primary-color;

  &:hover {
    color       : #fff;
    background  : @theme-hover-color;
    border-color: @theme-hover-color;
  }

  &:focus {
    color       : #fff;
    background  : @theme-hover-color;
    border-color: @theme-hover-color;
  }
}

/* modal框关闭按钮滑过旋转css */
.ant-modal-close-icon {
  color: #bbbfc4;
}

.ant-modal-close-icon {
  transition: transform 0.4s ease-out;
}

.ant-modal-close-x:hover .ant-modal-close-icon {
  transform: rotateZ(180deg);
}

body {
  overflow-y: auto;

  /* 滚动条 */
  ::-webkit-scrollbar {
    width           : 6px;
    height          : 4px;
    background-color: #eff3f5;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    border-radius   : 3px;
    background-color: #eff3f5;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius   : 3px;
    background-color: @primary-color;
    ;
    // background-image: linear-gradient(25deg, #3c1b5a, #516470, #52ad84, #27fb96);
    // background-image: linear-gradient(258deg, #3b1a66, #424988, #3d76ac, #1ba4d1);
    // background-image: linear-gradient(25deg, #feb84f, #f2d045, #e3e837, #d1fe22);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor    : pointer;
    background: @primary-color;
  }

  /* 模态框header居中 */
  .ant-modal-header {
    text-align: center;
  }

  // 选择checkbox的样式
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @primary-color ;
    border-color    : @primary-color ;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: @primary-color;
  }

  //分页器样式
  .ant-table-pagination {
    width     : 100%;
    // padding: 16px 20px;
    text-align: right;
    margin    : 0;

    .ant-pagination-total-text {
      float: left;
    }

    .ant-pagination-item-active {
      background-color: @primary-color;
      border-color    : @primary-color;

      a {
        color: #ffffff;
      }
    }
  }

  //带图标的输入框，内前置图标位置
  .ant-input-affix-wrapper .ant-input-prefix {
    left: 10px;
  }

  //空数据表格 提示
  .no-promission {
    .ant-table-empty .ant-table-placeholder {
      height     : 100px;
      line-height: 70px;
      font-size  : 18px;
    }
  }
}