.kyl-xdxt-container{
  border-radius: 10px;
  box-shadow: 0px 0px 10px #f5f6f7;
  border: 1px solid #f5f6f7;
}
.kyl-xdxt-bq{
  /* width: 35%; */
  height: 320px;
  padding: 16px 25px;
}
.kyl-xdxt-line{
  /* width: 64%; */
  height: 157px;
}
.kyl-xdxt-line1{
  display: flex;
  flex-wrap: nowrap;
}
.kyl-xdxt-bq >div:first-child{
  font-size: 17px;
  font-weight:500;
  color: #6a6971;
}