ul{
    list-style: none;
}
.date_tab{
    width: 100%;
    height: 60px;
}
.date_tab>div{
    float: right;
    margin-right: 125px;
    margin-top: 18px;
}
.c_effect{
    width: 100%;
    padding: 30px 110px 20px 20px;
    background: #ffffff;
}
.c_title{
    height: 35px;
    font-size: 16px;
    font-weight: 600;
}
.c_effect_con{
    width: 100%;
    height: 591px;
}
.c_effect_con>div{
    float: left;
}
.c_effect_con_left{
    width: 320px;
    margin-right: 20px;
    height: 591px;
}
.c_effect_con_left>div{
    height: 285px;
    width: 100%;
    box-sizing: border-box;
}
.c_effect_con_left>div:nth-child(1){
    margin-bottom: 20px;
}
.c_effect_con_right{
    width: calc(100% - 340px);
    height: 591px;
}
.c_effect_con_right>div{
    height: 140px;
    width: 100%;
}

.c_effect_con_right_t,.c_effect_con_right_m,.c_effect_con_right_b{
    margin-bottom: 10px;
}
.c_effect_con_left>div,.c_effect_con_right>div{
    border: 1px solid #f5f6f7;
    box-shadow: 0px 0px 10px #f5f6f7;
    border-radius: 10px;
}
.c_manage{
    height: 775px;
    width: 100%;
    background: #ffffff;
    padding: 30px 110px 20px 20px;
}
.c_manage_con{
    height: 285px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #f5f6f7;
    box-shadow: 0px 0px 10px #f5f6f7;
}
.c_manage_con_l{
    width: 320px;
    margin-right: 20px;
    height: 285px;
    float: left;
}
.c_manage_con_l>div{
    height: 225px;
    width: 100%;
    margin-top: 30px;
    float: left;
    border-right: 1px solid #cccccc;
}
.c_manage_con_l>div>div{
    text-align: center;
} 
.c_manage_con_l>div>div:nth-child(1){
    margin-top: 24px;
    color: #45494d;
    font-size: 24px;
    font-weight: 600;
}
.c_manage_con_l>div>div:nth-child(2){
    margin-bottom: 51px;
}
.c_manage_con_l>div>div:nth-child(3){
    color: #45494d;
    font-size: 24px;
    font-weight: 600;
}
.c_manage_con_r{
    width: calc(100% - 340px);
    height: 285px;
    float: left;
}
.c_manage_violate{
    height: 420px;
    width: 100%;
}
.c_manage_tab{
    height: 40px;
    width: 100%;
    margin-top: 40px;
    border-bottom: 1px solid #cccccc;
}
.c_manage_tab ul{
    display: table;
    margin: 0 auto;
}
.c_manage_tab ul li{
    float: left;
    padding: 7px 2px;
    
}
.c_manage_tab ul li:hover{
    border-bottom: 4px solid #67b3ff;
    color: #67b3ff;
    font-weight: 600;
    cursor: pointer;
}
.c_manage_tab .active{
    border-bottom: 4px solid #67b3ff;
    color: #67b3ff;
    font-weight: 600;
    cursor: pointer;
}
.c_manage_tab ul li:nth-child(1){
    margin-right: 60px;
}
.c_manage_chart{
    height: 285px;
    width: 100%;
    border-radius: 10px;
    margin: 30px 0 20px 0;
    border: 1px solid #f5f6f7;
    box-shadow: 0px 0px 10px #f5f6f7;
}
.c_manage_chart_l{
    width: 320px;
    margin-right: 20px;
    height: 285px;
    float: left;
}
.c_manage_chart_l>div{
    height: 225px;
    width: 100%;
    margin-top: 30px;
    float: left;
    border-right: 1px solid #cccccc;
}
.c_manage_chart_l>div>div{
    text-align: center;
} 
.c_manage_chart_l>div>div:nth-child(1){
    margin-top: 24px;
    color: #45494d;
    font-size: 24px;
    font-weight: 600;
}
.c_manage_chart_l>div>div:nth-child(2){
    margin-bottom: 51px;
}
.c_manage_chart_l>div>div:nth-child(3){
    color: #45494d;
    font-size: 24px;
    font-weight: 600;
}
.c_manage_chart_r{
    width: calc(100% - 340px);
    height: 285px;
    float: left;
}
.c_blue_div{
    height: 20px;
    width: 100%;
}