.mj-ltt-topCon {
  /* width: 1140px; */
  width: 100%;
  height: 576px;
  background: #ffffff;
}

.mj-lbt-botCon {
  margin-top: 20px;
  height: 410px;
  margin-bottom: 46px;
}

.mj-ltt-tit {
  /* width: 1110px; */
  text-align: left;
  padding-top: 20px;
  margin-left: 10px;
  font-size: 16px;
}
.mj-ltt-tit .icon {
  /* transform: rotateY(180deg); 
   -webkit-transform: rotateY(180deg); */
  float: right;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  fill: #666666;
}

.mj-ltt-choice {
  text-align: right;
  margin-right: 20px;
  margin-top: 16px;
}

.mj-ltt-RadioGroup .ant-radio-group {
  display: block;
  text-align: right;
  height: 30px;
}

.mj-ltt-RadioGroup .ant-radio-button-wrapper {
  border-radius: 4px;
}

.mj-ltt-RadioGroup .ant-radio-button-wrapper-checked {
  background: #31a9ff;
  color: #ffffff;
}

/* 加载中 */
.mj-ltt-loading .mj-ltt-rscroll {
  font-size: 30px;
  transform-origin: 37.2% 46.2%;
  display: inline-block;
  animation: spin 2s infinite linear;
  vertical-align: middle;
}
.mj-ltt-loading {
  width: 100%;
  height: 165px;
  padding-top: 100px;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}

/* 清除浮动 */
.mj-clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
