.pf-l-pullleft{
  text-align: left;
}
.pf-l-pullright{
  text-align: right;
}
.pf-l-lisfinish{
  margin-top:55px;
}
.pf-l-lisfinishtotal{
  padding-top: 25px;
}
.pf-l-finishbigsize{
  font-size: 20px;
}
.pf-l-smallpadding{
  padding-top:3px;
}