.cjy-rt-treeBox{
  width: calc(20% - 45px);
  height: 910px;
  border: 1px solid #c2c8cc;
  float: left;
  margin-left: 25px;
  padding-left: 10px;
  text-align: left;
  overflow-y: auto;
}

.cjy-rt-treeBox .ant-tree.ant-tree-show-line li:not(:last-child):before{
  border-left: none;
}

.cjy-rt-treeBox .ant-tree li span.ant-tree-switcher.ant-tree-switcher-noop{
  opacity: 0;
}