.cjy-raso-addScore {
  width: 714px;
  padding: 20px 20px 0;
  font-size: 14px;
}

.cjy-raso-ScorePrtBox input {
  width: 530px;
  height: 40px;
}

.cjy-raso-ScorePrtBox input,
.cjy-raso-ScorePrtBox span {
  font-size: 14px;
}

.cjy-raso-childOpt span {
  font-size: 14px;
}

.cjy-raso-totalNum {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  background: #26a5ff;
  color: #ffffff;
  margin-left: 20px;
  vertical-align: top;
}

.cjy-raso-addBtnBox {
  margin-left: 120px;
  /* margin-top: 35px; */
}

.cjy-raso-addBtnBox a:focus {
  text-decoration: none;
}

.cjy-raso-scoreChildBox {
  max-height: 450px;
  overflow-y: auto;
}

.cjy-raso-childOpt {
  margin-top: 20px;
}

.cjy-raso-titleLine .icon {
  font-size: 18px;
  color: #f55450;
  margin-left: 57px;
  cursor: pointer;
}

.cjy-raso-childName {
  width: 380px;
  height: 40px;
  vertical-align: top;
}

.cjy-raso-score {
  width: 54px;
  margin-left: 10px;
  height: 40px;
  vertical-align: top;
}

.cjy-raso-score .ant-input-number-input {
  height: 38px;
  line-height: 38px;
}

.cjy-raso-scoreStanBox {
  /* margin-top: 20px; */
}

.cjy-raso-scoreStan {
  width: 445px;
  height: 145px !important;
  vertical-align: top !important;
  resize: none;
}

.cjy-raso-scoreStanBox span {
  margin-left: 40px;
  /* margin-left: 84px; */
}

.cjy-raso-titleLine .ant-form-item {
  display: inline-block;
  margin-bottom: 0;
}

.cjy-raso-footer {
  padding: 30px 16px;
  text-align: center;
}

.cjy-raso-btn {
  padding: 0 32px !important;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 4px;
}

.cjy-raso-save {
  background-color: #14cc8f;
  border-color: #14cc8f;
  color: #ffffff;
}

.cjy-raso-cancel {
  margin-left: 20px;
}

.cjy-raso-save:hover,
.cjy-raso-save:focus,
.cjy-raso-save:active {
  background-color: #7ee5c4;
  border-color: #7ee5c4;
  color: #ffffff;
}

.cjy-raso-addScore .ant-input,
.cjy-raso-addScore .ant-input-number-input {
  font-size: 14px;
}

.mj-raso-content {
  padding: 20px;
}
.mj-raso-bigMenu label:first-child {
  vertical-align: middle;
}
.mj-raso-bigMenu span {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #26a5ff;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
}
.mj-raso-bigMenu .ant-input {
  width: 530px;
  height: 40px;
  vertical-align: middle;
}

.mj-raso-litContent {
  padding: 0 70px;
}
.mj-raso-litMenu {
  margin-top: 20px;
}
.mj-raso-litMenu .ant-input {
  display: inline-block;
  height: 40px;
  width: 370px;
}
.mj-raso-litMenu .ant-input-number {
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
  height: 40px;
  width: 60px;
  vertical-align: top;
}

.mj-raso-textCon {
  margin-top: 20px;
}
.mj-raso-textCon .ant-input {
  display: inline-block;
  width: 470px;
  vertical-align: top;
}

.mj-raso-btns {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.mj-raso-btns .ant-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
}
.mj-raso-btns .ant-btn:nth-child(1) {
  margin-right: 20px;
  background-color: #14cc8f;
  border-color: #14cc8f;
  color: #fff;
}
