.cjy-rpd-tableBox{
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 20px;
  margin-top: 10px;
}

.cjy-rpd-headLine{
  height: 60px;
  /* border-bottom: 1px solid #d9d9d9; */
}

.cjy-rpd-tableBox th,
.cjy-rpd-tableBox td{
  font-size: 14px !important;
}

.cjy-rpd-tableBox .ant-pagination-total-text{
  font-size: 14px;
}

.cjy-rpd-aBox{
  color: #a6a6a6;
  margin-right: 10px;
  font-size: 14px;
}

.cjy-rpd-aBox .iconfont{
  font-size: 26px;
}

.cjy-rpd-finished{
  background: #00cc88;
}

.cjy-rpd-ing{
  background: #ffb728;
}

.cjy-rpd-unfinished{
  background: #ebebeb;
}

.cjy-rpd-finished,
.cjy-rpd-ing,
.cjy-rpd-unfinished{
  height: 8px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1px;
}

.cjy-rpd-numInfo{
  display: inline-block;
  font-size: 14px;
  float: left;
  margin-top: -40px;
}
.cjy-trpd-planName{
  width:212px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display:inline-block;
}


/* 表格及分页样式 */
.cjy-rpd-tableBox .ant-table{
  font-size: 14px;
  color:#4d4d4d;
}
.cjy-rpd-tableBox .ant-table table{
  text-align: center;
}
.cjy-rpd-tableBox .ant-table-thead > tr > th,
.cjy-rpd-tableBox .ant-table-tbody > tr > td{
  text-align: center;
  padding:11px 8px;
  border-bottom-color:#D9D9D9;
}
.cjy-rpd-tableBox .ant-table-thead > tr > th:nth-child(1),
.cjy-rpd-tableBox .ant-table-tbody > tr > td:nth-child(1){
  text-align: left;
  padding-left: 20px;
}
.cjy-rpd-tableBox .ant-table-thead > tr:nth-child(2n),
.cjy-rpd-tableBox .ant-table-tbody > tr:nth-child(2n){
  background-color: #FAFAFA;
}
.cjy-rpd-tableBox .ant-table-thead>tr>th{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background-color: #FAFAFA;
}


.cjy-rpd-tableBox .ant-pagination {
    font-size: 14px;
    border: 1px solid #D9D9D9;
    padding: 0 15px;
    margin: 9px 0 21px 0;
    border-radius: 4px;
}
.cjy-rpd-tableBox .ant-pagination-item {
    font-size: 14px;
    margin-right: 0px;
    border: 0px;
    height: 36px;
    min-width: 36px;
    line-height: 36px;
    border-radius: 0px;
}

.cjy-rpd-tableBox .ant-spin-nested-loading > div > .ant-spin{
  left:0;
}