.yh-player{
  border:1px solid #333333;
  float:left;
  margin-right:18px;
  position:relative;
  float: left;
}
.yh-player:last-child{
  margin-right:0
}
.yh-type-box{
  position:absolute;
  top:0;
  left:0;
  background:#000000;
  border: 1px solid #1a1a1a;
  overflow: hidden;
  z-index: 1000;
}
.yh-type-box svg{
  font-size: 22px;
}
.yh-type-box>div{
  width: 86px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #666666;
  font-size: 14px;
  cursor: pointer;
  float:left;
}
.yh-type-box>div.active{
 background-color: #1a1a1a;
}
.yh-type-box>div>svg{
  margin-right: 10px;
}
.yh-noData{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: #262626;
  font-size: 16px;
}
/* .yh-noData svg{
  display: block;
  font-size: 100px;
} */
.yh-noData>div{
  text-align: center;
}
.yh-noData>div img{
  display: block;
  width: 100px;
  margin-bottom: 10px;
}